<section id="paging" class="profile-sec">
    <div class="row">
        <div class="col-md-12">
            <div class="card table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <!-- <label>DISPLAY PER PAGE</label> -->
                    <h4 class="form-section text-bold-500"> Recent Application</h4>
                    <span class="green-text">2% increase since last week<span class="icon-red-arrow"></span>
                    </span>
                    <a href="javascipt:void(0)">view all alerts <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                            [headerHeight]="50" [scrollbarH]="false" [footerHeight]="50" [rowHeight]="70"
                            [limit]="limitRow" [rows]="rows" [sorts]="[{prop: 'uname', dir: 'asc'}]">
                            <ngx-datatable-column name="User Name" [sortable]="true" prop="uname">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                    <a class="user-img dummy-icon" *ngIf="!row.img">
                                        <img src="assets/img/user-ic.svg">
                                    </a>
                                    <a class="user-img" *ngIf="row.img">
                                        <img src="{{row.img}}">
                                    </a>
                                    <a data-tooltip title="{{row.username}}">{{row.username}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Application Id" [sortable]="true" prop="applicationID">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Last Activity" [sortable]="true" prop="lastActivity">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Account Type" [sortable]="true" prop="accountType">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Application Status" [sortable]="true" prop="status">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <span *ngIf="row.status==='Incomplete'" class="grey-color-text">
                                        {{row.status}}
                                    </span>
                                    <span *ngIf="row.status==='Submitted'">
                                        {{row.status}}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>