<section id="paging" class="profile-sec">
    <div class="row">
        <div class="col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <!-- <label>DISPLAY PER PAGE</label> -->
                    <h4 class="form-section text-bold-500"> Recent Application</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                                       [headerHeight]="50" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="70"
                                       [limit]="limitRow" [rows]="rows" [sorts]="[{prop: 'uname', dir: 'asc'}]">
                            <ngx-datatable-column name="User Name" [sortable]="true" prop="uname">
                                <ng-template
                                        ngx-datatable-cell-template
                                        let-rowIndex="rowIndex"
                                        let-row="row"
                                >
                                    <a><img src="{{row.img}}" width="50" height="50"></a>
                                    <a>{{row.username}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Application Id" [sortable]="true" prop="applicationID">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Last Activity" [sortable]="true" prop="lastActivity">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Account Type" [sortable]="true" prop="accountType">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Application Status" [sortable]="true" prop="status">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

