<style>
    #toggle-password {
        float: right;
        margin-right: 10px;
        margin-top: -27px;
    } #toggle-confirm_password {
        float: right;
        margin-right: 10px;
        margin-top: -27px;
    }
</style>
<section id="login" class="login-section">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body login-img">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="mb-2 ml-2 card-title">Register</h4>
                                    <p class="ml-2 card-text mb-3">
                                        Welcome , please Register to your account.
                                    </p>
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" name="firstName" id="firstName"
                                                       placeholder="Enter Your First Name" formControlName="first_name" required>
                                                <app-control-messages fieldName="First Name" [control]="loginForm.controls['first_name']">
                                                </app-control-messages>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" name="lastName" id="lastName"
                                                       placeholder="Enter Your Last Name" formControlName="last_name" required>
                                                <app-control-messages fieldName="Last Name" [control]="loginForm.controls['last_name']">
                                                </app-control-messages>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="email" class="form-control" name="email" id="email"
                                                       placeholder="Enter Your Email Address" formControlName="email" required>
                                                <app-control-messages fieldName="Email" [control]="loginForm.controls['email']">
                                                </app-control-messages>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="password" class="form-control" name="password" id="password"
                                                       placeholder="Enter Your Password" #Password formControlName="password" required>
                                                <span (click)="togglePassword($event, Password)" class="{{toggleEyePassword}}"
                                                      id="toggle-password"></span>
                                                <app-control-messages fieldName="Password" [control]="loginForm.controls['password']">
                                                </app-control-messages>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                                       placeholder="Enter Your Confirm Password" #confirmPassword formControlName="confirm_password">
                                                <span (click)="toggleConfirmPassword($event, confirmPassword)" class="{{toggleEyeConfirmPassword}}"
                                                      id="toggle-confirm_password"></span>
                                                <app-control-messages fieldName="Confirm Password" [control]="loginForm.controls['confirm_password']">
                                                </app-control-messages>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button class="btn btn-outline-primary" type="submit">
                                                    <a class="text-decoration-none">Register</a>
                                                </button>
                                                <button routerLink="/sub-admin" class="btn btn-outline-primary">
                                                    <a class="text-decoration-none">Cancel</a>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
