<div class="card-body">
    <div class="hdr mb-0">
        <div class="hdr-left">
            <h2>Brokerage Codes</h2>
        </div>
        <div class="hdr-right">
            <button class="btn btn-custom"  (click)="addNewBrokerageCode()" >Add New Brokerage Code</button>
        </div>
        <div class="hdr-right">
            <input type="file" (change)="onFileSelect($event)" accept=".csv">
            <button class="btn btn-custom" [disabled]="!csvFile" (click)="submitFile()" >Upload File</button>
        </div>
    </div>
    <div class="custom-datatable mt-0">
        <ngx-datatable class="bootstrap" [loadingIndicator]="loadingIndicator"
                       [columnMode]="'force'" [headerHeight]="50" [scrollbarH]="true" [footerHeight]="50"
                       [rowHeight]="80" [limit]="limitRow" [rows]="rows">

            <ngx-datatable-column [width]="80" name="Brokerage Code" class="wrap-text" [sortable]="true" prop="segmentCode">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                    <a title="{{row.segmentCode}}" class="wrap-text wrap-segplan">{{row.segmentCode}}</a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="110" name="Brokerage Description" class="wrap-text" [sortable]="true" prop="segmentCodeDescription">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                    <a title="{{row.segmentCodeDescription}}" class="wrap-text wrap-segplan">{{row.segmentCodeDescription}}</a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="110" name="Brokerage Code Name" class="wrap-text" [sortable]="true" prop="segmentCodeName">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                    <a title="{{row.segmentCodeName}}" class="wrap-text wrap-segplan">{{row.segmentCodeName}}</a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="110" name="Brokerage Code Type" class="wrap-text" [sortable]="true" prop="segmentCodeType">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                    <a title="{{row.segmentCodeType}}" class="wrap-text wrap-segplan">{{row.segmentCodeType}}</a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="80" name="Status" [sortable]="false" prop="status" >
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <select  style="width:130px;"  [(ngModel)]="row.status" class="browser-default custom-select form-control" (change)="changeStatus($event,row)" >
                        <option *ngFor="let data of status" [value]="data.value">{{data.label}}</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="30" name="Actions" [sortable]="false" prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="dropdown more-dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-more-vertical"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="onEdit(row)">
                                <span class="ft-edit"></span> Edit</a>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>

