<div class="brdcum">
  <div class="container">
    <a href="javascript:void(0)" [routerLink]="['/applications/details',userId]" routerLinkActive="router-link-active">
      <span class="icon-left-ar mr-2"></span>Back to Application Details
    </a>
  </div>
</div>
<section class="add-user add-admin-user">
  <form [formGroup]="addressDetailsform" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="add-box">
        <div class="hdr">
          <div class="hdr-left">
            <h2>Personal & Address Details</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom mr-2" type="button"
              [routerLink]="['/applications/details',userId]">cancel</button>
            <button class="btn btn-custom" type="submit">Save Details <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" placeholder="Enter full name of the user" class="form-control" formControlName="name">
              <app-control-messages fieldName="Full Name" [control]="addressDetailsform.controls['name']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Gender</label>
              <ng-select appearance="outline" placeholder="select" [searchable]="false" formControlName="gender">
                <ng-option [value]="item.label" *ngFor="let item of gender">{{item.label}}</ng-option>
              </ng-select>
              <app-control-messages fieldName="Gender" [control]="addressDetailsform.controls['gender']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Date of Birth</label>
              <input type="text" placeholder="DD/MM/YYYY" class="form-control" formControlName="dob">
              <app-control-messages fieldName="Date of birth" [control]="addressDetailsform.controls['dob']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Marital Status</label>
              <ng-select appearance="outline" placeholder="select" [searchable]="false"
                formControlName="marital_status">
                <ng-option [value]="item.id" *ngFor="let item of maritalStatus">{{item.label}}</ng-option>
              </ng-select>
              <app-control-messages fieldName="Marital Status"
                [control]="addressDetailsform.controls['marital_status']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Occupation Type</label>
              <ng-select appearance="outline" placeholder="select" [searchable]="false"
                formControlName="occupation_type">
                <ng-option [value]="item.id" *ngFor="let item of OccupationTypeArray">{{item.name}}</ng-option>
              </ng-select>
              <app-control-messages fieldName="Occupation Type"
                [control]="addressDetailsform.controls['occupation_type']">
              </app-control-messages>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Income Range</label>
              <ng-select appearance="outline" placeholder="select" [searchable]="false" formControlName="income_range">
                <ng-option [value]="item.id" *ngFor="let item of IncomeRangeArray">{{item.name}}</ng-option>
              </ng-select>
              <app-control-messages fieldName="Income Range" [control]="addressDetailsform.controls['income_range']">
              </app-control-messages>
            </div>
          </div>

          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Father’s / Spouse’s Name</label>
              <input type="text" placeholder="Enter father’s / spouse’s name" class="form-control"
                formControlName="father_spouse_name">
              <app-control-messages fieldName="Father’s / spouse’s name"
                [control]="addressDetailsform.controls['father_spouse_name']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Mother’s Name</label>
              <input type="text" placeholder="Enter mother’s name" class="form-control" formControlName="mother_name">
              <app-control-messages fieldName="Mother’s name" [control]="addressDetailsform.controls['mother_name']">
              </app-control-messages>
            </div>
          </div>
        </div>
        <h3 class="line-title"><span>Permanent Address</span></h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Address Line 1</label>
              <input type="text" placeholder="Enter address line 1" class="form-control"
                formControlName="address_line1">
              <app-control-messages fieldName="Address line 1" [control]="addressDetailsform.controls['address_line1']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address Line 2</label>
              <input type="text" placeholder="Enter address line 2" class="form-control"
                formControlName="address_line2">
              <app-control-messages fieldName="Address line 2" [control]="addressDetailsform.controls['address_line2']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address Line 3</label>
              <input type="text" placeholder="Enter address line 3" class="form-control"
                formControlName="address_line3">
              <app-control-messages fieldName="Address line 3" [control]="addressDetailsform.controls['address_line3']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>PIN Code</label>
              <input type="text" placeholder="Enter PIN code" class="form-control" formControlName="pin_code">
              <app-control-messages fieldName="PIN code" [control]="addressDetailsform.controls['pin_code']">
              </app-control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Country</label>
              <ng-select placeholder="select" [searchable]="false" formControlName="country">
                <ng-option [value]="item.label" *ngFor="let item of countryList">{{item.label}}</ng-option>
              </ng-select>
              <app-control-messages fieldName="Country" [control]="addressDetailsform.controls['country']">
              </app-control-messages>
            </div>
          </div>
        </div>
        <h3 class="line-title mt-4"><span>Correspondence Address</span></h3>
        <div class="checkbox collapse-address" data-toggle="collapse">
          <input type="checkbox" id="checkbox1" formControlName="same_as" (change)="checkForSameAsPermenent($event)">
          <label for="checkbox1"><span>Same as the permanent address</span>
          </label>
        </div>
        <div id="demo" class="collapse" [ngClass]="{'show': addAddress}" [hidden]='!addAddress'>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 1</label>
                <input type="text" placeholder="Enter address line 1" class="form-control"
                  formControlName="corres_address_line1">
                <app-control-messages fieldName="Address line 1"
                  [control]="addressDetailsform.controls['corres_address_line1']">
                </app-control-messages>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 2</label>
                <input type="text" placeholder="Enter address line 2" class="form-control"
                  formControlName="corres_address_line2">
                <app-control-messages fieldName="Address line 2"
                  [control]="addressDetailsform.controls['corres_address_line2']">
                </app-control-messages>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 3</label>
                <input type="text" placeholder="Enter address line 3" class="form-control"
                  formControlName="corres_address_line3">
                <app-control-messages fieldName="Address line 3"
                  [control]="addressDetailsform.controls['corres_address_line3']">
                </app-control-messages>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>PIN Code</label>
                <input type="text" placeholder="Enter PIN code" class="form-control" formControlName="corres_pin_code">
                <app-control-messages fieldName="PIN code" [control]="addressDetailsform.controls['corres_pin_code']">
                </app-control-messages>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Country</label>
                <ng-select placeholder="select" [searchable]="false" formControlName="corres_country">
                  <ng-option [value]="item.label" *ngFor="let item of countryList">{{item.label}}</ng-option>
                </ng-select>
                <app-control-messages fieldName="Country" [control]="addressDetailsform.controls['corres_country']">
                </app-control-messages>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="footer-btn">
          <button class="btn" type="button" [routerLink]="['/applications/details',userId]">cancel</button>
          <button class="btn" type="submit">Submit</button>
        </div> -->
      </div>
    </div>
  </form>
</section>