<div class="brdcum">
  <div class="container">
    <a href="javascript:void(0)" [routerLink]="['/applications/details',userId]" routerLinkActive="router-link-active">
      <span class="icon-left-ar mr-2"></span>Back to Application Details
    </a>
  </div>
</div>
<section class="add-user add-admin-user">
  <div class="container">
    <div class="add-box">
      <div class="hdr">
        <div class="hdr-left">
          <h2>Personal & Address Details</h2>
        </div>
        <div class="hdr-right">
        </div>
      </div>
      <form novalidate>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" placeholder="Enter full name of the user" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Gender</label>
              <ngx-select></ngx-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Date of Birth</label>
              <ngx-select></ngx-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Marital Status</label>
              <ngx-select></ngx-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Income Range</label>
              <ngx-select></ngx-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Occupation Type</label>
              <ngx-select></ngx-select>
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Father’s / Spouse’s Name</label>
              <input type="text" placeholder="Enter father’s / spouse’s name" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Mother’s Name</label>
              <input type="text" placeholder="Enter mother’s name" class="form-control">
            </div>
          </div>
        </div>
        <h3 class="line-title"><span>Current Address</span></h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Address Line 1</label>
              <input type="text" placeholder="Enter address line 1" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address Line 2</label>
              <input type="text" placeholder="Enter address line 2" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address Line 3</label>
              <input type="text" placeholder="Enter address line 3" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>PIN Code</label>
              <input type="text" placeholder="Enter PIN code" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Country</label>
              <input type="text" placeholder="Enter country" class="form-control">
            </div>
          </div>
        </div>
        <h3 class="line-title mt-4"><span>Permanent Address</span></h3>
        <div class="checkbox collapse-address" data-toggle="collapse" data-target="#demo">
          <input type="checkbox" id="checkbox1" checked="">
          <label for="checkbox1"><span>Permanent address is same as currennt address</span>
          </label>
        </div>
        <div id="demo" class="collapse">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 1</label>
                <input type="text" placeholder="Enter address line 1" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 2</label>
                <input type="text" placeholder="Enter address line 2" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 3</label>
                <input type="text" placeholder="Enter address line 3" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>PIN Code</label>
                <input type="text" placeholder="Enter PIN code" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Country</label>
                <input type="text" placeholder="Enter country" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="footer-btn">
          <button class="btn" routerLink="/admins">cancel</button>
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>