<section class="gray-box trading-box">

  <form [formGroup]="kraForm" (ngSubmit)="onKraFormSubmit()" *ngIf="kraInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">KRA INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <div class="col-md-4" *ngFor="let item of kraInfoArray">
            <div class="form-group">
              <label>{{item?.label}}</label>
              <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                class="form-control">
              <app-control-messages fieldName="{{item?.label}}" [control]="kraForm.controls[item?.name]">
              </app-control-messages>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="tokenInfoForm" (ngSubmit)="onTokenSubmit()" *ngIf="tokenInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">Token INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <div class="col-md-4" *ngFor="let item of tokenInfoArray">
            <div class="form-group">
              <label>{{item?.label}}</label>
              <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                class="form-control">
              <app-control-messages fieldName="{{item?.label}}" [control]="tokenInfoForm.controls[item?.name]">
              </app-control-messages>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="sendGridInfoForm" (ngSubmit)="onSendGridSubmit()" *ngIf="sendGridInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">Sendgrid INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <div class="col-md-4" *ngFor="let item of sendGridInfoArray">
            <div class="form-group">
              <label>{{item?.label}}</label>
              <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                class="form-control">
              <app-control-messages fieldName="{{item?.label}}" [control]="sendGridInfoForm.controls[item?.name]">
              </app-control-messages>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="smsInfoForm" (ngSubmit)="onSmsInfoFormSubmit()" *ngIf="smsInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">SMS INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <ng-container *ngFor="let item of smsInfoArray">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{item?.label}}</label>
                <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                  class="form-control">
                <app-control-messages fieldName="{{item?.label}}" [control]="smsInfoForm.controls[item?.name]">
                </app-control-messages>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="digiLockerInfoForm" (ngSubmit)="onDigiLockerInfoFormSubmit()" *ngIf="digiLockerInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">DigiLocker INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <ng-container *ngFor="let item of digiLockerInfoArray">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{item?.label}}</label>
                <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                  class="form-control">
                <app-control-messages fieldName="{{item?.label}}" [control]="digiLockerInfoForm.controls[item?.name]">
                </app-control-messages>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="panInfoForm" (ngSubmit)="panInfoFormSubmit()" *ngIf="panInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">PAN INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <ng-container *ngFor="let item of panInfoArray">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{item?.label}}</label>
                <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                  class="form-control">
                <app-control-messages fieldName="{{item?.label}}" [control]="panInfoForm.controls[item?.name]">
                </app-control-messages>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="commonInfoForm" (ngSubmit)="commonInfoFormSubmit()" *ngIf="commonInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">Common INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <ng-container *ngFor="let item of commonInfoArray">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{item?.label}}</label>
                <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                  class="form-control">
                <app-control-messages fieldName="{{item?.label}}" [control]="commonInfoForm.controls[item?.name]">
                </app-control-messages>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="razorPayInfoForm" (ngSubmit)="razorPayInfoFormSubmit()" *ngIf="razorPayInfoArray?.length">
    <div class="container">
      <div class="gray-body">
        <div class="hdr">
          <div class="hdr-left">
            <h2 class="mb-0">RazorPay INFO</h2>
          </div>
          <div class="hdr-right d-flex">
            <button class="btn btn-custom" type="submit">Save Changes <span class="icon-simple-check"></span></button>
          </div>
        </div>
        <div class="row admin-detail">
          <ng-container *ngFor="let item of razorPayInfoArray">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{item?.label}}</label>
                <input type="text" placeholder="Enter {{item?.label}}" formControlName="{{item?.name}}"
                  class="form-control">
                <app-control-messages fieldName="{{item?.label}}" [control]="razorPayInfoForm.controls[item?.name]">
                </app-control-messages>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

</section>