.form-control{
    padding:10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:transparent !important;
  }
  .container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }
  #power{
    display:inline-block;
  }
  .centre-div{
    margin-bottom:4%;
  
  } 
  .heading_form{
    margin-left: 5%;
    margin-bottom: 10px;
  }
  .custom-radio{
    -webkit-appearance: radio !important;
    
  }
  .form-group label{
      display:unset;
  }
  .custom-checkbox  input{
      float:right;
  }
  .custom-radio::after{
    position: absolute;
      top: .25rem;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background: no-repeat 50%/50% 50%;
  }
   .btn-primary{
      color:#fff !important;
  }
 
  .form-control{
    height:auto !important;
    padding:15px !important
  }
  .no_left_padding{
    padding-left:0px;
  }