<div class="brdcum">
	<div class="container">
		<a href="javascript:void(0)" [routerLink]="['/applications/details',userId]"
			routerLinkActive="router-link-active"><span class="icon-left-ar mr-2"></span>Back</a>
	</div>
</div>
<section class="history">
	<div class="container">
		<div class="history-inr">
			<div class="history-hdr d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center text-capitalize">
					<!-- <div class="dummy-icon mr-2">
						<img src="assets/img/user-ic.svg">
					</div>
					<img src="assets/img/1.jpg" class="mr-2"> -->
					rakesh kumar prajapat
				</div>
				<h6 class="mb-0">Application Number : <span class="text-uppercase">{{userId}}</span></h6>
			</div>
			<h2>Application History</h2>
			<ul>
				<li
					[ngClass]="{'white': !application?.colorCode,'green': application?.colorCode === 'green','red': application?.colorCode === 'red','blue': application?.colorCode === 'blue'}"
					*ngFor="let application of applicationHistory">
					<span>Jan 20 2020 - 02:45 pM</span>
					<p>{{application?.activity}}</p>
				</li>
				<!-- <li class="white">
   				<span>Jan 20 2020 - 02:45 pM</span>
   				<p>application approved</p>
   			</li>
   			<li class="blue">
   				<span>Jan 20 2020 - 02:45 pM</span>
   				<p>application approved</p>
   			</li>
   			<li class="red">
   				<span>Jan 20 2020 - 02:45 pM</span>
   				<p>application approved</p>
   			</li> -->
			</ul>
		</div>
	</div>
</section>