<div class="modal-header red common-header">
    <div class="popup-header">
        <span>{{'Confirmation'}}</span>
        <h3>Logout of admin account</h3>
    </div>
    <div class="popup-icon">
        <img src="../../../../assets/img/true.svg">
    </div>
</div>
<div class="modal-boy">
    <p class="wr-msg mb-2">Are you sure you want to logout
        of the following admin account?</p>
    <br>
    <a class="user-img dummy-icon"><img width="20px" src="assets/img/user-ic.svg"></a>
    <a class="wr-msg mb-2" style="padding-left: 10px" >{{label}}</a>
    <br>
</div>

<div class="modal-footer d-flex justify-content-between">
    <a class="btn modal-btn-continue" (click)="decline()" href="javascript:void(0)">
        Cancel
    </a>
    <a class="btn modal-btn-cancel" (click)="accept()" href="javascript:void(0)">Logout</a>
</div>
