<div class="modal-header blueclr common-header logout-popup">
    <div class="popup-header">
        <span>{{'Confirmation'}}</span>
        <h3 class="mb-0">Logout of admin account</h3>
    </div>
    <div class="popup-icon">
        <span class="icon-logout"></span>
    </div>
</div>
<div class="modal-body">
    <p class="wr-msg mb-2">Are you sure you want to logout
        of the following admin account?</p>
    <div class="modal-usrbox d-flex">
        <a class="user-img dummy-icon"><img src="assets/img/user-ic.svg"></a>
        <div class="d-flex flex-column usr-rht"><a class="wr-msg mb-0" class="name">{{label}}</a>
            <span style="text-transform: none;">{{userEmail | lowercase}}</span>
        </div>
    </div>
</div>

<div class="modal-footer d-flex justify-content-between">
    <a class="btn modal-btn-continue" (click)="decline()" href="javascript:void(0)">
        Cancel
    </a>
    <a class="btn modal-btn-cancel" (click)="accept()" href="javascript:void(0)">Logout</a>
</div>