<section class="user-view">
   <div class="container">
      <div class="user-header d-flex justify-content-between">
         <a href="javascript:void(0)"><i class="fa fa-angle-left mr-2"></i>Back</a>
         <div class="d-flex align-items-center">
            <a href="javascript:void(0)" class="mr-3 d-flex align-items-center"><span class="icon-clock mr-2"></span>Application History</a>
            <div class="dropdown more-dropdown">
               <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
               <span class="icon-more-vertical"></span>
               </button>
               <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item disable" href="javascript:void(0)"><span class="icon-simple-check"></span> approve</a>
                  <a class="dropdown-item" href="javascript:void(0)"><span class="icon-minus-file"></span> request documents</a>
                  <a class="dropdown-item" href="javascript:void(0)"><span class="icon-alert-octagon"></span>report application</a>
                  <a class="dropdown-item" href="javascript:void(0)"><span class="icon-notallow"></span>reject</a>
               </div>
            </div>
         </div>
      </div>
      <!-- User box -->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>aditya_Desai24</h2>
               <p class="mb-0 mt-2">application number : gP048 51001</p>
            </div>
            <div class="rght d-flex align-items-center">
               <p class="mb-0">application not submitted</p>
               <button class="btn btn-custom m-0">Respond <i class="fa fa-angle-down"></i></button>
            </div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-6">
               <div class="d-flex justify-content-between">
                  <a href="mailto:aditya.desai@gmail.com">aditya.desai@gmail.com<span class="yellow-status status-box ml-2">not verified</span></a>
                  <span class="remind-usr"><span class="icon-send"></span>remind user</span>
               </div>
               <a href="tel:+91 9876543210">+91 9876543210</a><span class="green-status status-box ml-2">VERIFIED</span>
               <ul class="icon">
                  <li><a href="javascript:void(0)"><span class="icon-chat"></span></a></li>
                  <li><a href="javascript:void(0)" class="disable" ><span class="icon-mail"></span></a></li>
                  <li><a href="javascript:void(0)" class="active"><span class="icon-phone"></span></a></li>
               </ul>
               <span class="will-trad">Willing to trade in </span>
               <p>Equity and Mutual Funds.</p>
            </div>
            <div class="col-md-6">
               <div class="d-flex justify-content-between rgt-hdr">
                  <h4 class="mb-0">Documents Uploaded</h4>
                  <a href="javascript:void(0)"><span class="icon-upload"></span>upload document</a>
               </div>
               <ul class="docupld-link">
                  <li class="active"><a href="javascript:void(0)"><span class="icon-check-circle"></span>aadhaar card</a></li>
                  <li class="active"><a href="javascript:void(0)"><span class="icon-check-circle"></span>PAN card</a></li>
                  <li><a href="javascript:void(0)"><span class="icon-check-circle"></span>address proof</a></li>
                  <li><a href="javascript:void(0)"><span class="icon-check-circle"></span>signature</a></li>
                  <li><a href="javascript:void(0)"><span class="icon-check-circle"></span>bank statement</a></li>
                  <li><a href="javascript:void(0)"><span class="icon-check-circle"></span>cancelled cheque</a></li>
                  <li><a href="javascript:void(0)"><span class="icon-check-circle"></span>photograph</a></li>
                  <li><a href="javascript:void(0)"><span class="icon-check-circle"></span>in person video</a></li>
               </ul>
               <button class="btn btn-custom">reveiw all</button>
            </div>
         </div>
      </div>
      <!-- User box - Account Opening Charges-->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>Account Opening Charges</h2>
            </div>
            <div class="rght d-flex align-items-center"><span class="green-status">Payment received <span class="icon-check-circle"></span></span></div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-6">
               <span class="cmn-txt mb-3 d-block">Paid on  Jan 20 2020 - 02:56 PM</span>
               <div class="row cmn-layout">
                  <div class="col-md-6 d-flex flex-column mb-3"><label>Transaction Amount</label>₹ 300 /-</div>
                  <div class="col-md-6 d-flex flex-column mb-3"><label>Transaction ID</label>AD1278647999S33</div>
                  <div class="col-md-12 d-flex flex-column mb-3"><label>Payment Mode</label>ICICI Debit Card - Rajat Boss - 15xx xxxx xxxx xx24</div>
                  <div class="col-md-12 d-flex flex-column mb-3"><label>Current Status</label>Received by GetProsper</div>
                  <div class="col-md-12 d-flex flex-column"><label>Discount Code used</label>- - None - -</div>
               </div>
            </div>
            <div class="col-md-6">
               <span class="cmn-txt mb-3 d-block">Received on  Jan 20 2020 - 05:36 PM</span>
               <p class="mb-1">The transaction receipt was generated on 20 Jan 2020 - 06:36 & was successfully sent to the user via email on 20 Jan 2020 - 07:36</p>
               <button class="btn btn-custom font-sml">View receipt</button>
            </div>
         </div>
      </div>
      <!-- User box - Aadhaar Details-->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>Aadhaar Details</h2>
               <p><strong>1324 5678 9012</strong><span class="green-status status-box ml-2">VERIFIED</span></p>
            </div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
                  <span class="digi-text">Submitted using DigiLocker <img src="assets/img/digilocker.svg" alt="icon" class="ml-2"></span>
               </div>
               <div class="row cmn-layout">
                  <div class="col-md-12 d-flex flex-column mb-3"><label>Full Name</label>Aditya desai</div>
                  <div class="col-md-6 d-flex flex-column mb-3"><label>DOB</label>dec 15 2020</div>
                  <div class="col-md-6 d-flex flex-column mb-3"><label>Gender</label>Male</div>
                  <div class="col-md-6 d-flex flex-column"><label>Permanent Address</label>address line 1,address line 2,address line 3,city, state - 000 000</div>
               </div>
               <button class="btn btn-custom font-sml">request reveiw</button>
            </div>
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-2">
                  <span class="cmn-txt">uploaded on  Jan 20 2020 - 05:36 PM</span>
                  <span class="digi-text">Submitted using DigiLocker <img src="assets/img/digilocker.svg" alt="icon" class="ml-2"></span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"  #btnElement (click)="addOnsModel(btnElement)">Upload document</a>
                     </div>
                  </div>
               </div>
               <label class="doc-type">aadhaar card</label>
            </div>
         </div>
      </div>
      <!-- User box - permanent account number (PAN)-->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>permanent account number (PAN)</h2>
               <p><strong>ABCDE1234F</strong><span class="green-status status-box ml-2">VERIFIED</span></p>
            </div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
               </div>
               <div class="row cmn-layout">
                  <div class="col-md-12 d-flex flex-column mb-3"><label>Full Name</label>Aditya desai</div>
                  <div class="col-md-12 d-flex flex-column mb-3"><label>DOB</label>dec 15 2020</div>
                  <div class="col-md-12 d-flex flex-column mb-3"><label>father’s name</label>shridhar desai</div>
               </div>
               <button class="btn btn-custom font-sml">request reveiw</button>
            </div>
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-2">
                  <span class="cmn-txt">uploaded on  Jan 20 2020 - 05:36 PM</span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Upload document</a>
                     </div>
                  </div>
               </div>
               <label class="doc-type">PAN Card</label>
            </div>
         </div>
      </div>
      <!-- User box - personal & address details-->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>personal & address details</h2>
            </div>
            <div class="rght d-flex align-items-center"><span class="red-status">name does not match with aadhaar <span class="icon-alert ml-3"></span></span></div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
               </div>
               <div class="row cmn-layout">
                  <div class="col-md-12 d-flex flex-column mb-3"><label>Full Name</label>Aditya desai</div>
                  <div class="col-md-6 d-flex flex-column mb-3"><label>DOB</label>dec 15 2020</div>
                  <div class="col-md-6 d-flex flex-column mb-3"><label>Gender</label>Male</div>
                  <div class="col-md-6 d-flex flex-column"><label>Permanent Address</label>address line 1,<br>address line 2,<br>address line 3,<br>city, state - 000 000</div>
                  <div class="col-md-6 d-flex flex-column"><label>Corrospondance Address</label>address line 1,<br>address line 2,<br>address line 3,<br>city, state - 000 000</div>
               </div>
               <button class="btn btn-custom btn-border font-sml">edit details</button>
               <button class="btn btn-custom font-sml">request reveiw</button>
            </div>
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-2">
                  <span class="cmn-txt">uploaded on  Jan 20 2020 - 05:36 PM</span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Upload document</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- User box - bank details-->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>Bank details</h2>
            </div>
            <div class="rght d-flex align-items-center"><span class="red-status">name does not match with aadhaar <span class="icon-alert ml-3"></span></span></div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
               </div>
               <div class="row cmn-layout">
                  <div class="col-md-12 d-flex flex-column mb-3"><label>name registered at bank</label>Aditya desai</div>
                  <div class="col-md-12 d-flex flex-column mb-3"><label>IFSC Code</label>SBIN000001</div>
                  <div class="col-md-12 d-flex flex-column mb-3"><label>bank name</label>State bank of India</div>
                  <div class="col-md-12 d-flex flex-column"><label>branch address</label>palasia, a b road, indore - 452 001</div>
               </div>
               <button class="btn btn-custom btn-border font-sml">edit details</button>
               <button class="btn btn-custom font-sml">request reveiw</button>
            </div>
            <div class="col-md-6">
               <div class="d-flex justify-content-between mb-2">
                  <span class="cmn-txt">uploaded on  Jan 20 2020 - 05:36 PM</span>
               </div>
               <div class="doc-upbox"></div>
               <label class="doc-type">PAN Card</label>
               <div class="d-flex justify-content-between mb-2 mt-3">
                  <span class="cmn-txt">uploaded on  Jan 20 2020 - 05:36 PM</span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Upload document</a>
                     </div>
                  </div>
               </div>
               <label class="doc-type">bank statement</label>
            </div>
         </div>
      </div>
      <!-- User box - signature & identity-->
      <div class="user-box">
         <div class="user-bxhdr d-flex justify-content-between">
            <div class="lft">
               <h2>signature & identity</h2>
            </div>
         </div>
         <div class="row user-btmbx">
            <div class="col-md-3">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Upload document</a>
                     </div>
                  </div>
               </div>
                <label class="doc-type">signature</label>
            </div>
            <div class="col-md-3 pr-0 pl-4">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Upload document</a>
                     </div>
                  </div>
               </div>
                <label class="doc-type">Photograph</label>
            </div>
           <div class="col-md-6">
               <div class="d-flex justify-content-between mb-3">
                  <span class="cmn-txt">Paid on  Jan 20 2020 - 02:56 PM</span>
               </div>
               <div class="doc-upbox">
                  <div class="dropdown more-dropdown">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                     <span class="icon-more-vertical"></span>
                     </button>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)">Upload document</a>
                     </div>
                  </div>
               </div>
                <label class="doc-type">In Person Video</label>
            </div>
         </div>
      </div>
   </div>
</section>
