my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

@media (max-width: 991px) {
    .sidebar .nav > li.active-pro{
        position: relative;
        width: 100%;
        bottom: 10px;
    }
    .sidebar .nav > li.active-pro > a{
        margin-top: 20px;

    }
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

#login {
    background-image: url(../img/gallery/light-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* Common CSS */
body p{ color: #797979; font-weight: 400; font-size: 14px; }
body p.label-control{ margin: 0; }

body form label{ letter-spacing: 0; font-size: 13px; display: inline-block; width: 100%; margin-bottom: 4px; }
input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="number"]:focus, input[type="password"]:focus{ box-shadow: none; border-color: #000 !important; }
body form .form-control::-webkit-input-placeholder { color: #797979; opacity: 0.5; } 
body form .form-control:-ms-input-placeholder { color: #797979; opacity: 0.5; } 
body form .form-control::placeholder { color: #797979; opacity: 0.5; }
form .form-group{ align-items: center; margin-bottom: 18px !important; }
form .form-group:last-child{ margin-bottom: 0 !important; }

select{ background-image: url(../img/down-arrow.png); background-repeat: no-repeat; background-position: right 10px center; background-size: 9px; border: 1px solid #bebebe; color: #797979; padding: 0 11px; height: 33px; width: 100%; background-color: transparent; -webkit-appearance:none; appearance:none; }

textarea.form-control{ height: 112px !important; }

.checkbox-blocks { display: flex; flex-wrap: wrap; margin-top: 11px; }
.checkbox-blocks .single-checkbox { margin: 0 0 15px; }
.checkbox-blocks .single-checkbox div{ display: flex; align-items: center; position: relative; }
.checkbox-blocks input { position: absolute; opacity: 0; width: 100%; height: 100%; } 
.checkbox-blocks input + label { text-transform: none; position: relative; cursor: pointer; padding: 0; color: #797979; font-size: 14px; margin: 0; line-height: normal; font-weight: 400; } 
.checkbox-blocks input + label:before { content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 14px; height: 14px; background: white; border: 1px solid #bebebe; border-radius: 4px; } 
.checkbox-blocks input:checked + label:before { background: #414141; border-color: #414141; } 
.checkbox-blocks input:disabled + label { color: #b8b8b8; cursor: auto; } 
.checkbox-blocks input:disabled + label:before { box-shadow: none; background: #ddd; } 
.checkbox-blocks input:checked + label:after { border: solid #fff; border-width: 0 1px 1px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); border-radius: 0px; content: ''; padding: 0; position: absolute; left: 5px; top: 2px; width: 4px; height: 8px; }

.radio-blocks{ display: flex; flex-wrap: wrap; margin-top: 10px; }
.radio-blocks .custom-radio{ margin: 0 0 10px; position: relative;}
.radio-blocks input{ position: absolute; opacity: 0; } 
.radio-blocks input + label { text-transform: none; position: static; cursor: pointer; padding: 0; color: #797979; font-size: 14px; line-height: normal; font-weight: 400; } 
.radio-blocks input + label:before { top: 1px; content: ''; margin-right: 10px; display: inline-block; vertical-align: middle; width: 14px; left: 0; height: 14px; background: white; border: 1px solid #bebebe; border-radius: 2px; } 
.radio-blocks input:checked + label:before { background: #414141 !important; border-color: #414141 !important; } 
.radio-blocks input:disabled + label { color: #b8b8b8; cursor: auto; } 
.radio-blocks input:disabled + label:before { box-shadow: none; background: #ddd; } 
.radio-blocks input:checked + label:after { background-image: none !important; border: solid #fff; border-width: 0 1px 1px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); border-radius: 0px; content: ''; padding: 0; position: absolute; left: 5px; top: 3px; width: 4px; height: 7px; }

h5.title{ height: 64px; display: flex; align-items: center; justify-content: space-between; color: #797979; font-size: 15px; border-bottom: 1px solid #dfdfdf; margin: 0; font-weight: 500; padding: 25px 17px; }
.icon-btn{ border: 0; display: flex; align-items: center; justify-content: center; max-width: 100px; width: 100%; text-align: center; font-size: 11px; background-color: #414141; border-radius: 3px; line-height: 27px; color: #fff; text-transform: uppercase; font-weight: 500; height: 28px; padding: 0 8px; }
.icon-btn i{ font-size: 14px; margin-right: 5px; }
.icon-btn:hover, .icon-btn:focus{ background-color: #000; color: #fff; }

.btn-foot-group{ margin: 25px 0 0; width: 100%; }
.btn-foot-group .col-md-12{ display: flex; justify-content: flex-end; align-items: center; }
.btn-foot-group button{ margin: 0px 0 0 9px !important; color: #fff; font-size: 12px; text-transform: uppercase; font-weight: 500; border-radius: 3px; border: 0; height: 28px; padding: 0; max-width: 113px; width: 100%; text-align: center;}
.btn-foot-group button:hover, .btn-foot-group button:focus{ background-color: #000 !important; }
.btn-foot-group button.main-btn{ background-color: #414141; }
.btn-foot-group button.cancel-btn{ background-color: #bebebe; }

body .btn-outline-primary{ background-color: #414141; margin-bottom: 0 !important; color: #fff; font-size: 12px; text-transform: uppercase; font-weight: 500; border-radius: 3px; border: 0; height: 28px; max-width: 113px; width: 100%; text-align: center;}
body .btn-outline-primary:hover{ background-color: #000 !important; }

/* Sidebar CSS */
body .app-sidebar{ box-shadow: none; background-color: #414141 !important; }
body .app-sidebar:before, body .app-sidebar:after{ display: none; }
body .sidebar-background{ background-image: none !important; display: none !important; }
body .app-sidebar .navigation li > a, body .off-canvas-sidebar .navigation li > a{ padding: 18px 40px; margin: 0; line-height: 1; }
body .app-sidebar .navigation li > a:before, body .off-canvas-sidebar .navigation li > a:before{ border-right: 0; background-color: rgba(0, 0, 0, 0.2); }

/* Add Edit User */
.user-add-edit-sec{ display: flex; flex-wrap: wrap; }
body .card{ box-shadow: none; border-radius: 10px; height: 100%; margin: 0; }
body .card-body{ padding: 24px 17px 30px; }
.account-sec{ max-width: 650px; width: 100%; margin-right: 30px; margin-bottom: 30px;}
.general-info-sec{ max-width: calc(100% - 680px); width: 100%; margin-bottom: 30px;}
.custom-file{ padding-left: 15px; }
.profile-image{ position: relative; }
.profile-image .custom-file-input{ position: absolute; width: 100%; height: 100%; }
.profile-image label{ margin: 0; }
.social-info-sec{ max-width: 785px; width: 100%; margin-right: 30px; }
.user-add-edit-sec .social-info-sec .card-body{ padding-top: 16px; }
.user-add-edit-sec .social-info-sec .form-group{ margin-bottom: 15px !important }
.usage-sec{ max-width: 510px; width: 100%; }
.usage-sec form label{ margin-bottom: 10px; }



/* Meet Up Page */
.top-list-block{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.top-list-block .left-block ul{ list-style: none; margin: 0; padding: 0; display: flex; align-items: center; }
.top-list-block .left-block ul li{ list-style: none; margin: 0 8px 0 0; padding: 0 8px 0 0; position: relative; line-height: 1;}
.top-list-block .left-block ul li:before{ position: absolute; right: 0; top: 0; height: 14px; width: 1px; content: " "; background-color: #acacac; }
.top-list-block .left-block ul li:last-child:before{ padding: 0; margin: 0; display: none; }
.top-list-block .left-block ul a{ color: #7b7b7b; text-transform: uppercase; font-size: 14px; }
.top-list-block .left-block ul a:hover{ color: #000; }
.top-list-block .left-block ul a.active{ font-weight: 500; }
.top-list-block .right-block{ max-width: 272px; width: 100%; }
.top-list-block .right-block form{ position: relative; }
.top-list-block .right-block input[type="text"]{ padding-right: 33px; }
.top-list-block .right-block input[type="submit"]{ background-image: url(../img/search-icon.png); background-position: right 10px center; background-repeat: no-repeat; background-size: 15px; font-size: 0; padding: 0; width: 33px; position: absolute; right: 0; top: 0; height: 100%; background-color: transparent; border: 0; }
.meet-registration-sec .single-reg{ display: flex; align-items: center; margin: 0 0 17px; position: relative; padding-left: 12px;}
.meet-registration-sec .single-reg:before{ position: absolute; left: 0; top: 0; height: 100%; width: 3px; content: " "; background-image: url(../img/register-line.png); background-position: center center; background-repeat: no-repeat; }
.meet-registration-sec .single-reg span{ height: 33px; width: 33px; background-color: #797979; }
.meet-registration-sec .single-reg p{ margin: 0 0 0 10px; }
.meet-add-edit-sec{ display: flex; flex-wrap: wrap; }
.meet-general-sec{ max-width: 925px; width: 100%; margin-right: 30px; margin-bottom: 30px; }
.meet-general-sec .post-type .single-checkbox{ width: 50%; }
.meet-date-sec{ max-width: 515px; width: 100%; margin-bottom: 30px; }
.meet-initiator-sec{ max-width: 650px; width: 100%; margin-right: 30px; }
.meet-channel-sec{ max-width: 370px; width: 100%; margin-right: 30px; }
.meet-registration-sec{ max-width: 515px; width: 100%; }
.registration-list{ height: 232px; overflow-x: hidden; overflow-y: scroll; }

/* Meet up and User List Page */
.table-card.card .card-header{ padding: 18px; }
.table-card .card-body{ padding: 0; }
.table-card .edit-btn{ max-width: 54px; }
.table-card .ngx-datatable{ border-top: 1px solid #dfdfdf; }
.table-card .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{ padding: 13px 18px; }
.table-card .ngx-datatable.bootstrap .datatable-header .datatable-header-cell span{ line-height: 1; color: #797979; font-weight: 500; text-transform: uppercase; font-size: 14px; }
.table-card .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell{ height: auto !important; padding: 20px 18px; font-size: 14px; color: #797979; font-weight: 400; display: flex; align-items: center; }
.table-card .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even{ background-color: transparent; border-top: 0; }

/* Login Page */
body .login-section .card{ height: auto; }







