@media (min-width: 1300px){
	.container {max-width: 1200px;}
}
@media (max-width: 1441px){
	.login-section .card-body {padding: 20px 0 0;}
	body .login-section .card{min-width: 520px;}
	.login-section .login-img img {width: 170px;}
	body .login-section .bg-white{margin: 15px 0 0;}
}