@media (min-width: 1300px){
	.container {max-width: 1200px;}
}
@media (max-width: 1441px){
	.login-section .card-body {padding: 20px 0 0;}
	body .login-section .card{min-width: 490px;}
	.login-section .login-img img {width: 170px;}
	body .login-section .bg-white{margin: 15px 0 0;padding: 25px;}
	body .login-section:after{height: 250px;}
}
@media (min-width: 1024px){
		.custom-datatable .card{padding: 25px;}
}
@media (min-width: 576px){
	.container {max-width: 100%;}
	.content-wrapper,.content-wrapper > .container-fluid {padding: 0;}	
	.total-detail {margin-top: 16px;}
}
