@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{font-family: 'Poppins', sans-serif;color: rgba(0, 0, 0, 0.8);-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
header{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);}
h1{font-size: 30px}
h2{font-size: 24px}
h3{font-size: 20px}
h4{font-size: 16px}
p{font-size: 16px;color: rgba(0, 0, 0, 0.8);}
.form-group label{font-size: 14px;line-height: 21px;color: #0970DD;display: block;margin: 0 0 8px;}
.form-control,input[type="text"], input[type="email"], input[type="phone"], input[type="number"], input[type="password"]{height: auto;border: 1px solid #DDDDDD;border-radius: 8px;padding: 15px;font-size: 16px;line-height: 22px;color: rgba(0, 0, 0, 0.8);}
.form-control::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.32);}
.form-control:-ms-input-placeholder {color: rgba(0, 0, 0, 0.32);}
.form-control::placeholder {color: rgba(0, 0, 0, 0.32);}
.form-control:focus::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.8);}
.form-control:focus:-ms-input-placeholder {color: rgba(0, 0, 0, 0.8);}
.form-control:focus::placeholder {color: rgba(0, 0, 0, 0.8);}
.btn.focus, .btn:focus,.form-control:focus{outline: none !important;box-shadow: none;}
.form-control:focus{border-color: #ddd !important;}
a{transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
a:hover{text-decoration: none;}
.modal-lg {max-width: 960px;}
body form label{text-transform: inherit;}

.btn-custom{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;position: relative;border: none; overflow: hidden;position: relative;background: #0970DD;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);border-radius: 8px;font-weight: 500;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;color: #FFFFFF;transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
.btn-custom:hover{color: #fff;background: #0759b1;box-shadow: 0 2px 7px rgba(0,0,0,.28);}
.btn-custom::before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;background-color: rgba(255,255,255,0.15);-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;-webkit-transform: translate(-100%,0);transform: translate(-100%,0);-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);}
.btn-custom::after{-webkit-transition-delay: 0.2s;transition-delay: 0.2s;}
.btn-custom:hover::before,.btn-custom:hover::after{-webkit-transform: translate(0,0);transform: translate(0,0);}
.btn-border{background: #fff;border: 1px solid #0970DD;color: #0970DD;}
.btn-custom:disabled{opacity: 1;background: #B0BAC5;color: #fff;animation: none !important;}

.dropdown-menu{-webkit-animation-name: slideIn;animation-name: slideIn;top: 100% !important;animation-duration: 0.3s;-webkit-animation-duration: 0.3s;animation-fill-mode: both;-webkit-animation-fill-mode: both;padding: 6px 0;margin: 10px 0 0;background: #FFFFFF;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);border-radius: 8px;border: none;}
.dropdown-item{align-items: center;display: flex;text-transform: capitalize;margin: 0 !important;padding: 12px 16px;font-size: 12px;line-height: 18px;color: rgba(0, 0, 0, 0.8);cursor: pointer;}
.dropdown-item:focus, .dropdown-item:hover,.dropdown-item:not([href]):not([tabindex]):focus, .dropdown-item:not([href]):not([tabindex]):hover{background: rgba(9, 112, 221, 0.04);color: #0970DD;}
.dropdown-item.disable{background: rgba(0, 0, 0, 0.04);color: #B0BAC5;pointer-events: none;}
.dropdown-item span{font-size: 17px;margin-right: 10px;max-width: 20px;display: inline-block;}
@keyframes slideIn {
  0% {transform: translateY(1rem);opacity: 0;}100% {transform:translateY(0rem);opacity: 1;}0% {transform: translateY(1rem);opacity: 0;}
}
@-webkit-keyframes slideIn {
  0% {-webkit-transform: transform;-webkit-opacity: 0;}100% {-webkit-transform: translateY(0);-webkit-opacity: 1;}0% {-webkit-transform: translateY(1rem);-webkit-opacity: 0;}
}
.dropdown-menu-right {right: 0 !important;left: auto !important;}
/*.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translateX(-50%) !important;
}*/

p{font-size: 16px;color: rgba(0, 0, 0, 0.8);}
.danger {color: red !important;}

/*=========Checkbox===========*/
.checkbox {position: relative;}
.checkbox input[type=checkbox] {display: none;}
.checkbox label {margin-left: 30px;margin-bottom: 0;cursor: pointer;}
.checkbox label:after, .checkbox label:before {content: "";height: 18px;width: 18px;position: absolute;top: 0;left: 0;border-radius: 4px;border: 1px solid #ddd;}
.checkbox input[type=checkbox]:checked~label:before{background: #0970DD;border-color: #0970DD;}
.checkbox input[type=checkbox]:checked~label:after {transform: rotate(-45deg);height: .3rem;width: .6rem;border-left-color: #fff;border-bottom-color: #fff;border-radius: 0;border-left-width: 1px;border-bottom-width: 1px;border-right: 1px #fff;border-top: 1px #fff;top: 5px;left: 5px;}
.checkbox label:after {transition: .1s ease-in-out;}
.checkbox label:before{background: #FFFFFF;}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dou5i7');
  src:  url('../fonts/icomoon.eot?dou5i7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dou5i7') format('truetype'),
    url('../fonts/icomoon.woff?dou5i7') format('woff'),
    url('../fonts/icomoon.svg?dou5i7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-red-arrow:before {content: "\e900"}
.icon-log-in:before {content: "\e903";}
.icon-search:before {content: "\e902";}
.icon-filter:before {content: "\e901";}
.icon-mail:before {content: "\e904";}
.icon-tel:before {content: "\e905";}
.icon-clock:before {content: "\e90b";}
.icon-more-vertical:before {content: "\e90c";}
.icon-send:before {content: "\e90d";}
.icon-chat:before {content: "\e90f";}
.icon-phone:before {content: "\e911";}
.icon-upload:before {content: "\e910";}
.icon-check-circle:before {content: "\e90e";}
.icon-alert:before {content: "\e906";}
.icon-simple-check:before {content: "\e912";}
.icon-minus-file:before {content: "\e913";}
.icon-alert-octagon:before {content: "\e914";}
.icon-notallow:before {content: "\e915";}
.icon-logout:before {content: "\e916";}
.icon-mode:before {content: "\e917";}
.icon-arrow:before {content: "\e918";}
.icon-left-ar:before {content: "\e919";}
.icon-up-down:before {content: "\e91a";}
.icon-minus-circle:before {content: "\e91b";}
.icon-user-check:before {content: "\e91c";}
/*=========Header===========*/
header .navbar{display: flex;justify-content: space-between;padding: 18px 0;}
.navbar .navbar-collapse{justify-content: center;}
.navbar .navbar-nav li{padding: 0 20px;}
.navbar .navbar-nav .nav-link{padding: 10px 0;position: relative;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
.navbar .navbar-nav li.active .nav-link,.navbar .navbar-nav li.active:hover .nav-link{font-weight: 600;color: #0970DD;}
.navbar .nav-link:hover{color: rgba(0, 0, 0, 0.8);}
header .dropdown-toggle{padding: 0 8px 0 0;font-size: 16px;line-height: 24px;text-transform: capitalize;}
header .dropdown-toggle img{margin-right: 8px;}
header .dropdown-toggle::after{content: "\f107";font-family: fontawesome;border: none;color:#ddd;position: absolute;right:0;top: 0;font-weight: 600;font-size: 18px;}
header .profile-img{width: 32px;height: 32px;border-radius: 50%;object-fit: cover;}
header .dropdown-item .switch{margin-left: 25px;}
.navbar .navbar-nav .nav-link:after {content: "";width: 0;display: block;background: #0970DD;height: 2px;position: absolute;left: auto;right: 0;bottom: 0;-webkit-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.navbar .navbar-nav .nav-link:hover:after {width: 100%;right: auto;left: 0;}
header .navbar .dropdown{margin-right: 10px;}
header .navbar .dropdown-menu-right{right: -30px !important;}

/*=========Footer===========*/
footer{background: #26394E;padding:80px 0;width: 100%;float: left;}
.ff-top{border-bottom: 1px solid rgba(9, 112, 221, 0.5);padding-bottom: 40px;margin-bottom: 40px;}
.ico{width: 32px;height: 32px;background: rgba(255, 255, 255, 0.5);border-radius: 16px;display: flex;align-items: center;justify-content: center;margin-right: 16px;}
ul.user-detail li{margin-right: 40px}
ul.user-detail li:last-child{margin-right: 0px}
ul.user-detail li a{color: #fff;font-weight: 500;font-size: 16px;line-height: 32px;text-transform: capitalize;}
ul.user-detail li a:hover{color: rgba(255,255,255,.5);}
.ff-btm .ico{width: 48px;height: 48px;margin-right: 0;margin-bottom: 16px;}
.ff-btm h5{font-size: 16px;color: #fff;font-weight: 500;text-transform: capitalize;margin-bottom: 8px}
.ff-btm p{font-size: 16px;line-height: 24px;text-transform: capitalize;color: rgba(255, 255, 255, 0.56);}
footer .copyright{color: #0970DD;font-size: 10px;line-height: 15px;text-align: center;margin-top: 80px;}
footer .ff-logo img{width: 200px;}
footer .dt h5{font-weight: 600;font-size: 24px;line-height: 36px;letter-spacing: 4px;text-transform: capitalize;color: #FFFFFF;}
footer .col-md-3 .dt p{color: #0970DD;}
footer .ico span{    color: #fff;}

/*=========Login===========*/
body #login{background: none;}
body .login-section:after{content: "";background: url(assets/img/shape.svg);width: 100%;height: 220px;display: block;background-size: cover;background-position: top;position: absolute;bottom: 0;z-index: -1;}
body .login-section .bg-white {padding: 40px;background: #FFFFFF;border: 1px solid #DDDDDD;box-sizing: border-box;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);border-radius: 8px;margin: 24px 0 0;}
body .login-section h2.card-title{text-align: center;margin: 0 0 24px;font-weight: 200;font-size: 24px;line-height: 36px;text-transform: capitalize;color: #96AB13;}
.login-section .login-img {display: block;text-align: center;}
.login-section .login-img img{width: 253px;}
.login-section .card-body {padding: 60px 0 0;}
body .login-section .card{background: transparent;min-width: 560px;height: 100%;}
.login-section .form-group label{text-transform: none;font-weight: 400;}
form .form-group{position: relative;}
.login-section #toggle-password{position: absolute;right: 15px;top: 50px;}
.login-section .btn-custom{padding: 14px 40px;}
.login-section .form-group{ margin-bottom: 16px !important;}
.login-section  .login-btn{margin-top: 24px;}
.icon-log-in{margin-right: 15px;}
.login-btn {font-size: 14px;}
.ng-touched.ng-invalid {border-color: red;}
.login-section .form-group .danger{color: red !important;}
body form .form-control::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.32);} 
body form .form-control:-ms-input-placeholder {color: rgba(0, 0, 0, 0.32);} 
body form .form-control::placeholder {color: rgba(0, 0, 0, 0.32);}

/*=========Dashboard===========*/
.custom-datatable{margin-top: 32px;}
.custom-datatable .card{background: #FCFCFC;border: 1px solid #DDDDDD;border-radius: 8px;padding: 40px;}
.custom-datatable .card .card-header{padding: 0 0 15px;border-bottom: 1px solid #DDDDDD;}
.custom-datatable .card-header h4{margin: 0;font-weight: 500;font-size: 20px;line-height: 30px;letter-spacing: 1px;text-transform: capitalize;}
.custom-datatable .ngx-datatable .datatable-body .datatable-body-row .datatable-row-center{margin-bottom: 8px;border: 1px solid #DDDDDD;border-radius: 8px;transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
.custom-datatable .ngx-datatable .datatable-body .datatable-row-wrapper:hover .datatable-row-center{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even{background: transparent;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row,
.custom-datatable .ngx-datatable.bootstrap .datatable-header .datatable-header-cell,
.custom-datatable .table-card .ngx-datatable{border: none;}
.custom-datatable .ngx-datatable.bootstrap .datatable-header .datatable-header-cell span{margin-right: 10px;font-weight: normal;font-size: 12px;line-height: 18px;text-transform: capitalize;color: #0970DD;}
.custom-datatable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{padding: 26px 18px 17px;}
.custom-datatable .user-img{margin-right: 8px;width: 32px;height: 32px;display: inline-block;border-radius: 50%;background: rgba(9, 112, 221, 0.16);}
.custom-datatable .user-img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell{font-size: 14px;line-height: 21px;color: rgba(0, 0, 0, 0.8);height: auto !important;padding: 15px 18px;display: flex;}
/*.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell:last-child{border-right: 1px solid #DDDDDD;border-top-right-radius: 8px;border-bottom-right-radius: 8px;}*/
.custom-datatable .dummy-icon img{width: auto;height: auto;text-align: center;object-fit: contain;top: 17%;left: 50%;transform: translate(-50%);position: relative;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label{display: flex;align-items: center;}
.custom-datatable span.red-text,.custom-datatable span.green-text {font-weight: 500;font-size: 12px;line-height: 18px;text-align: right;letter-spacing: 1px;text-transform: capitalize;color: #DF0E40;}
.custom-datatable span.red-text img,.custom-datatable span.green-text img{margin-left: 8px;margin-top: -8px;}
.custom-datatable span.green-text{color: #19D097;}
.custom-datatable .card-header a {font-weight: 500;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;color: #0970DD;}
.custom-datatable .card-header a i{font-size: 16px;font-weight: 600;margin-left: 5px;transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
.custom-datatable .card-header a:hover i{transform: translateX(5px);}
.custom-datatable span.red-text .icon-red-arrow, .custom-datatable span.green-text .icon-red-arrow{font-size: 10px;margin-left: 6px;}
.custom-datatable span.green-text .icon-red-arrow:before{color: #19D097;}
.datatable-icon-up:before,.datatable-icon-down:before,.sort-btn:before{ content: "\e91a";line-height: inherit;font-family: 'icomoon' !important}
.custom-datatable .ngx-datatable.bootstrap .datatable-footer{background: transparent;}
.custom-datatable .ngx-datatable .datatable-body .datatable-body-row>div{background: #fff;border-radius: 8px}
.custom-datatable ::-webkit-scrollbar {height: 5px;}
.custom-datatable ::-webkit-scrollbar-track {border-radius: 10px;}
.custom-datatable ::-webkit-scrollbar-thumb {background: #ddd;border-radius: 10px;}
.custom-datatable [data-tooltip]:hover:before, .custom-datatable [data-tooltip]:hover:after {display: block;position: absolute;font-size: 0.8em;color: white;}
.custom-datatable [data-tooltip]:hover:before {border-radius: 0.2em;content: attr(title);background-color: rgba(0, 0, 0, 0.9);margin-top: -2.5em;padding: 0.3em;}
.custom-datatable [data-tooltip]:hover:after {content: '';margin-top: -2.1em;margin-left: 1em;border-style: solid;border-color: transparent;border-top-color: rgba(0, 0, 0, 0.9);border-width: 0.5em 0.5em 0 0.5em;}
.custom-datatable .arrow{color: rgba(0, 0, 0, 0.32);font-size: 18px;font-weight: 600;}
.custom-datatable .hover-error {opacity: 0;visibility: hidden;transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover .hover-error{opacity: 1;visibility: visible;}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {background-color: transparent;}
/*.datatable-checkbox input[type='checkbox']:before,.datatable-checkbox input[type='checkbox']:after{border-radius: 4px;width: 16px;height: 16px;}
.datatable-checkbox{height: 16px;}
.datatable-checkbox input[type='checkbox']:before{transition: all 0.2s ease-in;}
.custom-datatable .datatable-checkbox input[type='checkbox']{width: 16px;height: 16px;-moz-appearance: none;-webkit-appearance: none;}
.custom-datatable .datatable-checkbox input[type='checkbox']:not(:checked):before{border: 1px solid #DDDDDD;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);border-radius: 4px;}
.custom-datatable .datatable-checkbox input[type='checkbox']:checked:after{box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);border-radius: 4px;background: #0970DD;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);cursor: pointer;}
.custom-datatable .datatable-checkbox input[type='checkbox']:checked:before {border-color: #fff;width: 9px;height: 5px;left: 4px;top: 4px;}
*/
.ngx-datatable .datatable-footer .page-count{color: rgba(0, 0, 0, 0.32);font-size: 16px;}
.custom-datatable .datatable-checkbox input[type='checkbox']{width: 16px;height: 16px;-moz-appearance: none;-webkit-appearance: none;}
.custom-datatable .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap{display: flex;flex-direction: row-reverse;justify-content: flex-end;}
.custom-datatable .ngx-datatable.checkbox-table .datatable-header .datatable-header-cell:first-child .datatable-header-cell-template-wrap{display: inherit;}
.custom-datatable .uname{color: rgba(0, 0, 0, 0.8);text-transform: capitalize;}

.datatable-checkbox input[type='checkbox']:before,.datatable-checkbox input[type='checkbox']:after {content: "";height: 18px;width: 18px;position: absolute;border-radius: 4px;border: 1px solid #ddd;}
.datatable-checkbox input[type='checkbox']:before{transition: none;}
.datatable-checkbox input[type='checkbox']:after {transition: .1s ease-in-out;}
.custom-datatable .datatable-checkbox input[type='checkbox']:checked:before{transition: none;transform: none;height: 18px;background: #0970DD;border-color: #0970DD;}
.custom-datatable .datatable-checkbox input[type='checkbox']:checked:after {transform: rotate(-45deg);height: .3rem;width: .6rem;border-left-color: #fff;border-bottom-color: #fff;border-radius: 0;border-left-width: 1px;border-bottom-width: 1px;border-right: 1px #fff;border-top: 1px #fff;top: 5px;left: 5px;z-index: 9;background: transparent;}

.fixed-status {background: #FFFFFF;border: 1px solid #0970DD;box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.16);border-radius: 8px;position: sticky;bottom: 0;left: 0;right: 0;top: auto;width: 800px;margin: 0 auto;padding: 32px;display: flex;justify-content: space-between;}
.fixed-status ul{display: flex;margin: 0;padding: 0;}
.fixed-status ul li{cursor: pointer;margin-left: 30px;list-style: none;font-size: 14px;line-height: 21px;display: flex;align-items: center;}
.fixed-status ul li:first-child{margin-left: 0;}
.fixed-status ul li img{width: 13px;margin-right: 5px;}
.fixed-status label{font-weight: 200;font-size: 14px;line-height: 21px;text-transform: capitalize;color: rgba(0, 0, 0, 0.8);}


.total-detail{margin-top: 32px;}
.total-detail .card{background: #FCFCFC;border: 1px solid #DDDDDD;border-radius: 8px;line-height: inherit;  transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;    -webkit-transition: all 0.3s ease-in-out;}
.total-detail .card:hover {box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.10);transform: translateY(-3px);-webkit-transform: translateY(-3px);-moz-transform: translateY(-3px);-ms-transform: translateY(-3px);-o-transform: translateY(-3px);}
.total-detail .card-body {padding: 24px;}
.total-detail .title{color: rgba(0, 0, 0, 0.8);margin: 0 0 8px;font-weight: 500;font-size: 24px;line-height: 36px;letter-spacing: 1px;text-transform: capitalize;}
.total-detail .media-body span{font-size: 12px;line-height: 18px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
.total-detail .media-right {background: rgba(9, 112, 221, 0.08);border-radius: 24px;width: 80px;height: 80px;    display: flex;align-items: center;justify-content: center;}
.total-detail .green .media-right{background: rgba(25, 208, 151, 0.12);}
.total-detail .yellow .media-right{background: rgba(250, 180, 1, 0.16);}
.total-detail .red .media-right{background: rgba(223, 14, 64, 0.08);}
.total-detail .media img{margin: 0 !important;}
.total-detail .first .media-right span,.total-detail .second .media-right span{font-size: 24px;}
.total-detail .media-right span{color: #0970DD;font-size: 20px;}
.total-detail .red .media-right span{color:#DF0E40}
.total-detail .green .media-right span{color:#19D097}
.total-detail .yellow .media-right span{color:#FAB401}

/*=========add user form===========*/
section.add-user {margin: 32px 0;}
section.add-user .add-box{/*max-width: 960px;*/background: #FCFCFC;border: 1px solid #DDDDDD;border-radius: 8px;padding: 40px;}
section.add-user .steps{font-weight: 500;font-size: 16px;line-height: 24px;color: #0970DD;display: inline-block;margin-bottom: 8px;}
.hdr{display: flex;align-items: center;justify-content: space-between;padding-bottom: 40px;margin-bottom: 40px;border-bottom: 1px solid #DDDDDD;}
/*.hdr-right{background: rgba(9, 112, 221, 0.16);width: 56px;height: 56px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}*/
.hdr-right img{width: 20px;}
.line-title{font-size: 16px;line-height: 24px;position: relative;margin-bottom: 24px;}
.line-title span{font-weight: 400;padding-right: 15px;background: #FCFCFC;z-index: 9;position: relative;color: rgba(0, 0, 0, 0.32);}
.line-title:before{content: "";background:#DDDDDD;width: 100%;height: 1px;position: absolute;left: 0;top: 12px;}
section.add-user .form-control{width: 100%;}
section.add-user .footer-btn {margin-top: 98px;border-top: 1px solid #DDDDDD;padding-top: 15px;display: flex;justify-content: space-between;}
section.add-user .footer-btn .btn{ padding: 0;color: #0970DD;text-transform: capitalize;font-weight: 500;font-size: 16px;line-height: 24px;font-weight: 500;letter-spacing: 1px;}
section.add-user .footer-btn .btn:disabled{color: #B0BAC5;opacity: 1;}
section.add-user .checkbox label{font-weight: normal;font-size: 12px;line-height: 18px;color: rgba(0, 0, 0, 0.56);}
section.add-user .checkbox{margin: 0 0 24px;background: rgba(9, 112, 221, 0.16);border-radius: 8px;padding: 16px;}

section.add-admin-user h2{text-transform: capitalize;font-weight: 200;}
section.add-admin-user .hdr-right button{padding: 16px;font-size: 12px;line-height: 18px;}
.hdr-right .icon-simple-check{font-weight: 600;margin-left: 5px;}
.ngx-select__toggle::after{content: "\e918";color:#666666;font-size: 5px;font-family: 'icomoon' !important;border: none;display: block;width: auto;height: auto;display: block;width: auto;height: auto;}
.ngx-select__toggle .dropdown-toggle::after{display: none;}
.ngx-select__item{padding: 12px 16px !important;font-size: 12px;}
.ngx-select__choices .dropdown-item span {font-size: 14px;margin-right: 0;max-width: 100%;}
.ngx-select__choices .ngx-select__item_active {background: rgba(9, 112, 221, 0.04) !important;color: #0970DD !important;outline: 0;}

.brdcum{margin: 48px 0 0;}
.brdcum span.icon-left-ar{font-size: 12px;font-size: 12px;}
.collapse-address.checkbox label:after, .checkbox label:before{top: 18px;left: 16px;}
.collapse-address.checkbox input[type=checkbox]:checked~label:after{top: 23px;left: 20px;}

/*=========Application===========*/
section.application {margin: 32px 0;}
section.application .nav-tabs{margin-left: 40px;border: none;}
section.application .nav-tabs .nav-link{padding: 15px 24px;font-size: 14px;line-height: 21px;letter-spacing: 1px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
section.application .nav-tabs .nav-link:hover{background: #F5F9FE;border-radius: 8px 8px 0px 0px;color: #0970DD;}
section.application .tab-content{padding: 0;background: #FCFCFC;border: 1px solid #DDDDDD;box-sizing: border-box;border-radius: 8px;}
section.application .nav-tabs .nav-link.active{background: #0970DD;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);border-radius: 8px 8px 0px 0px;color: #fff;border: none;}
section.application .card-body{padding: 0;}
section.application h2{font-weight: 200;line-height: 36px;letter-spacing: 1px;text-transform: capitalize;}
section.application .header{padding: 40px;margin: 0;border-bottom: 1px solid #DDDDDD;}
section.application .header input{font-size: 12px;line-height: 18px;min-width: 146px;}
section.application .search input{min-width: 438px;}
section.application .filter,section.application .search {position: relative;}
section.application .btn-search{color: rgba(0, 0, 0, 0.56);border-left: 1px solid #DDDDDD;background: transparent;border: none;cursor: pointer;display: inline-block;}
section.application .btn-search .icon-search{font-size: 18px;}
section.application .filter {background: #fff;padding: 15px;margin-left: 24px;border: 1px solid #DDDDDD;border-radius: 8px;width: 146px;height: 50px;font-size: 12px;line-height: 18px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
section.application span.icon-filter,section.application .btn-search{position: absolute;right: 15px;top: 16px;cursor: pointer;}
section.application .btn-search{top: 16px;padding: 0;border-left: 1px solid #DDDDDD;right: 0;width: 50px;}
section.application .btn-search:focus{outline: none;}
section.application .search input:focus + .btn-search{color:#0970DD}
section.application .search input:hover{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);}
section.application span.icon-filter{font-size: initial;color: rgba(0, 0, 0, 0.56);}
section.application .card{background: transparent;}
section.application .tble {padding: 0 40px 40px;}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a{background-color: #0970dd;color: #fff;}
.ngx-datatable .datatable-footer .datatable-footer-inner{margin-top: 24px;}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a{color: rgba(0, 0, 0, 0.56);}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,.nav-tabs .nav-link{border:none;}


/*user-view*/
section.user-view {margin: 32px 0;}
.user-box {background: #FCFCFC;border: 1px solid #DDDDDD;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);margin: 0 0 24px;border-radius: 8px;padding: 40px;}
.user-box h2{margin: 0;font-weight: 500;font-size: 32px;line-height: 48px;text-transform: capitalize;color: #000000;}
.user-box .lft p{letter-spacing: 1px;text-transform: capitalize;}
.user-box .lft p strong{font-weight: 500;}
.user-bxhdr {padding-bottom: 24px;border-bottom: 1px solid #DDDDDD;}
.user-bxhdr .dropdown-toggle::after{display: none;}
.rght p{font-size: 14px;line-height: 21px;text-align: right;letter-spacing: 1px;text-transform: capitalize;margin-right: 24px;color: rgba(0, 0, 0, 0.56);}
.user-box .rght .btn-custom {padding: 8px 16px;text-transform: uppercase;font-weight: 600;font-size: 14px;line-height: 21px;}
.user-box .rght .btn-custom i{font-weight: 600;margin-left: 10px;}
.btn-aprvd,.btn-aprvd:hover{background: linear-gradient(0deg, #19D097, #19D097);}
.btn-reject,.btn-reject:hover{background:  linear-gradient(0deg, #DF0E40, #DF0E40);}

.status-box{ border-radius: 4px;font-weight: 500;font-size: 12px;line-height: 18px;letter-spacing: 1px;text-transform: uppercase; padding: 4px 8px;}
.yellow-status {background: rgba(250, 180, 1, 0.16);color: #FAB401;}
.green-status{background: rgba(25, 208, 151, 0.16);color: #19D097;}
.user-btmbx{margin-top: 24px;}
.user-btmbx a{font-size: 16px;line-height: 24px;letter-spacing: 1px;color: rgba(0, 0, 0, 0.8);margin-bottom: 18px;}
.user-btmbx a:hover{opacity: 0.8}
.remind-usr{font-weight: 500;display: flex;font-size: 10px;line-height: 15px;letter-spacing: 1px;text-transform: uppercase;color: #0970DD;}
.remind-usr .icon-send{font-size: 14px;margin-right: 8px;}
.user-btmbx > .col-md-6:first-child{border-right: 1px solid #DDDDDD;padding-right: 40px;}
.user-btmbx > .col-md-6:last-child{padding-left: 40px;}
.user-box ul{display: flex;align-items: center;list-style: none;padding: 0;margin: 20px 0 0;}
.user-box ul li{margin-right: 20px;}
.user-btmbx ul a{color: #000;display: block;margin: 0 0 30px;}
.user-btmbx ul.icon a span{font-size: 14px;}
.user-btmbx ul.icon a.active span{color:#0970DD;}
.user-btmbx ul.icon a{width: 24px;height: 24px;border-radius: 4px;display: flex;align-items: center;justify-content: center;}
.user-btmbx ul.icon a.active{background: rgba(9, 112, 221, 0.16);}
.user-btmbx ul.icon a.disable{background: #DDDDDD;cursor: pointer;}
.user-btmbx ul.icon a.disable span{color: #aaa;}
.will-trad{color: #96AB13;font-size: 12px;line-height: 18px;margin: 0 0 5px;display: block;}
.rgt-hdr{padding: 0 0 8px;border-bottom: 1px solid rgba(221, 221, 221, 0.24);}
.rgt-hdr a{margin: 0;font-weight: 500;font-size: 10px;line-height: 15px;letter-spacing: 1px;text-transform: uppercase;color: #0970DD;position: relative;}
.hide-file{opacity: 0;position: absolute;right: 0;width: 100%;height: 100%;top: 0;}
ul.docupld-link {max-width: 100%;align-items: flex-start;flex-flow: column wrap;max-height: 158px;min-width: inherit;width: auto;}
ul.docupld-link li{flex: 0 0 50%;}
ul.docupld-link li a{display: flex;align-items: center;margin: 0 0 10px;letter-spacing: 1px;text-transform: capitalize;font-weight: 300;color: rgba(0, 0, 0, 0.56);}
ul.docupld-link li a span{margin-right: 15px;}
ul.docupld-link li:hover a{color: #19D097;}
ul.docupld-link li.active a{color: #19D097;font-weight: 500;}
.user-btmbx .btn-custom {margin: 20px 0 0;padding: 5px 14px;font-size: 14px;text-transform: uppercase;font-weight: 600;}
.rght .green-status{background: rgba(25, 208, 151, 0.08);padding: 12px 16px;font-size: 12px;line-height: 18px;border-radius: 4px;}
.rght .green-status .icon-check-circle{margin-left: 10px;}
.rght .red-status{background: rgba(223, 14, 64, 0.08);color: #DF0E40;padding: 12px 16px;font-size: 12px;line-height: 18px;border-radius: 4px;}
.cmn-txt{font-size: 14px;line-height: 21px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
.cmn-layout label{font-size: 12px;line-height: 18px;letter-spacing: 1px;text-transform: capitalize;color: #96AB13;}
.cmn-layout {font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;}
.user-btmbx .btn-custom.font-sml{font-size: 12px;}
.digi-text{font-size: 12px;line-height: 18px;text-transform: capitalize;color: #6941FD;}
.doc-upbox {position: relative;background: #C4C4C4;border-radius: 8px;min-height: 280px;}
.doc-upbox .more-dropdown{position: absolute;right: 16px;top: 16px;}
.doc-type {font-size: 16px;line-height: 24px;text-align: center;letter-spacing: 1px;text-transform: capitalize;color: #96AB13;margin: 16px auto 0;display: block;}
.user-btmbx .btn-border{margin-right: 24px;}
.more-dropdown .dropdown-toggle{color: rgba(0, 0, 0, 0.56);background: #FCFCFC;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);width: 24px;height: 24px;border-radius: 50%;display: flex;align-items: center;text-align: center;}
.more-dropdown .dropdown-toggle::after{display: none;}
.more-dropdown .dropdown-toggle span{ margin-left: -1px;}
.more-dropdown .dropdown-item .icon-simple-check{font-size: 10px;}
.user-header{margin-bottom: 16px;}
.user-btmbx .dropdown-item{font-size: 12px;line-height: 18px;}
.doc-upbox .more-dropdown .dropdown-toggle span {margin-left: -2px;}

/*=========Admin List===========*/
.admin-list .btn-custom{padding: 10px 12px;font-size: 14px;margin-left: 24px;}
.brdcum a{font-size: 14px;line-height: 21px;letter-spacing: 1px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}

/*=========Toster===========*/
.toast-container .ngx-toastr{display: flex;color: #FFFFFF;width: auto !important;max-width: 360px;font-family: 'Poppins', sans-serif;font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;transition: 0.2s ease-in-out;-webkit-transition: 0.2s ease-in-out;-moz-transition: 0.2s ease-in-out;background-image: none;padding: 16px 100px 16px 24px!important;border-radius: 8px !important;flex-flow: column;align-items: flex-start;}
.toast-container .ngx-toastr:hover{box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);;-moz-box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);;}
.toast-warning:before {content: "";width: 37px;height: 37px;background: url(../img/toster-warning.svg) no-repeat;position: absolute; top: 15px;right: 27px;background-position: center;}
.toast-error:before {content: "";width: 37px;height: 37px;background: url(../img/toster-error.svg) no-repeat;position: absolute;top: 15px;right: 27px;background-position: center;object-fit: contain;}
.toast-success:before {content: "";width: 37px;height: 37px;background: url(../img/toster-check.svg) no-repeat;position: absolute;top: 19px;right: 27px;background-position: center;}
.toast-close-button {content: "";width: 23px;height: 12px;background: url(../img/toster-check.svg) no-repeat !important;position: absolute;top: 20px !important;right: 0 !important;background-position: center;}
.toast-close-button span{opacity: 0;}
.toast-error{background: #DF0E40 !important;box-shadow: 0px 8px 16px rgba(223, 14, 64, 0.24) !important;}
.toast-success{background: #19D097 !important;box-shadow: 0px 8px 16px rgba(25, 208, 151, 0.4) !important;}
.toast-warning{background: #FAB401;box-shadow: 0px 8px 16px rgba(250, 180, 1, 0.4) !important;}
.toast-message{font-size: 14px;line-height: 21px;text-transform: capitalize;color: rgba(255, 255, 255, 0.8);}
.toast-title{margin-bottom: 5px;font-weight: 600 !important;}

/*=========Toogle switch===========*/
.switch {position: relative;display: inline-block;width: 24px;height: 8px;margin: 0;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #EEEEEE;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 0;bottom:-4px; background-color: #B0BAC5;transition: .4s;}
input:checked + .slider {background-color: #EEEEEE;}
input:checked + .slider:before {-webkit-transform: translateX(9px);-ms-transform: translateX(9px);transform: translateX(9px);}
.slider.round {border-radius: 34px;max-width: initial;margin: 0;}
.slider.round:before {border-radius: 50%;}

/* common popup*/
.common-header{margin-bottom: 40px;}
.modal-content{border-radius: 16px;padding: 40px;}
.modal-header{padding: 0;border: none;}
.common-header .popup-header span{font-size: 16px;line-height: 24px;font-weight: 500;margin-bottom: 6px;display: block;}
.common-header.yellowclr .popup-header span{color: #FAB401;}
.common-header.yellowclr .popup-icon{background:rgba(250, 180, 1, 0.16);}
.common-header.red .popup-header span{color: #DF0E40;}
.common-header.red .popup-icon{background:rgba(223, 14, 64, 0.16);}
.common-header.green .popup-header span{color: #19D097;}
.common-header.green .popup-icon{background:rgba(25, 208, 151, 0.16);}
.common-header.blueclr .popup-header span{color: #0970DD;}
.common-header.blueclr .popup-icon{background:rgba(9, 112, 221, 0.16);}
.common-header.blueclr .popup-icon .icon-logout{color: #0970DD;font-size: 22px;}
.common-header .modal-title{font-weight: 500;font-size: 24px;line-height: 36px;}
.common-header .popup-icon{justify-content: center;width: 56px;height: 56px;display: flex;align-items: center;border-radius: 50%;text-align: center;}
.common-header .popup-icon img {margin: 0 auto;}
.modal-content .user-box span{font-size: 14px;line-height: 21px;color: rgba(0, 0, 0, 0.56);}
.modal-footer{border-color: #ddd;padding: 16px 0 0;}
.modal-footer a{padding: 0;color: #0970DD;font-weight: 500;font-size: 16px;line-height: 24px;}
.modal-footer a:hover{opacity: 0.8}
.modal-body p {font-size: 16px;line-height: 24px;color: rgba(0, 0, 0, 0.56);}
.modal-body{padding: 0;}
.modal-usrbox{margin: 40px 0 130px;background: #FAFAFA;border-radius: 8px;padding: 24px;}
.modal-usrbox span{font-size: 14px;line-height: 21px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
.modal-usrbox .name{width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;font-size: 20px;line-height: 30px;text-transform: capitalize;color: rgba(0, 0, 0, 0.8);}
.modal-usrbox .dummy-icon{width: 48px;height: 48px;background: rgba(9, 112, 221, 0.16);border-radius: 50%;display: flex;align-items: center;justify-content: center;}
.modal-usrbox .dummy-icon img{width: 17px;}
.modal-usrbox .user-img{margin-right: 12px;}
.modal-usrbox .usr-rht{width: calc(100% - 60px);}
.modal-backdrop.show {opacity: .7;}

/* dashboard doc uload popup*/
.uploaddoc-popup .star{background: rgba(250, 180, 1, 0.16);}
.uploaddoc-popup .popup-header span{color:#FAB401}
.uploaddoc-popup .upload-box{background: #F7F7F7;margin-bottom: 16px;border: 1px solid #DDDDDD;min-height: 316px;padding: 0 100px;border-radius: 8px;display: flex;align-items: center;justify-content: space-between;}
.uploaddoc-popup .upload-box a{color: #0970DD;font-weight: 500;font-size: 16px;line-height: 24px;}
.uploaddoc-popup .upload-box a > img{margin-bottom: 35px;}
.uploaddoc-popup .upload-box a div img{margin-right: 15px;}
.or-text {height: 120px;position: relative;}
.or-text:before{content:"";background-color: #DDDDDD;width: 1px;height: 100%;display: block;position: relative;}
.or-text span{position: absolute;padding: 7px 0;top: 50%;transform: translateY(-50%);background: #F7F7F7;left: -10px;color: rgba(0, 0, 0, 0.24);}
button.add-img {background: #0970DD;cursor: pointer;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);border-radius: 8px;color: #fff;display: flex;align-items: center;justify-content: center;flex-flow: column;font-weight: 500;font-size: 10px;line-height: 15px;min-height: 80px;min-width: 100%;}
button.add-img span{font-size: 21px;margin-bottom: 5px;}
button.view-img{background: #000000;border: 4px solid #0970DD;box-shadow: 0px 4px 8px rgba(9, 112, 221, 0.32);border-radius: 8px;width: 100%;min-height: 80px;max-height: 80px;margin: 16px 0 0;}
button.view-img img{width: 110px;height: 60px;object-fit: cover;}
.uploaddoc-popup .footer-btn{border-top: 1px solid #DDDDDD;margin: 16px 0 0;padding: 16px 0 0;}
.uploaddoc-popup .footer-btn button{padding: 0;}
.uploaddoc-popup .footer-btn .btn-cancel{color: #0970DD;}
.uploaddoc-popup .footer-btn .btn-con{color: #B0BAC5;}
.uploaddoc-popup .upload-box a{position: relative;}
.uploaddoc-popup .upload-file{cursor: pointer;}
.uploaddoc-popup .upload-file input{position: absolute;width: 100%;height: 100%;opacity: 0;cursor: pointer;}
.upload-doc-box {width: 100%;height: 316px;margin: 0 0 16px;background: #000;border-radius: 8px;padding: 10px;position: relative;}
.upload-doc-box span{font-weight: 500;display: flex;align-items: center;justify-content: center;background: #0970DD;box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.32);border-radius: 8px;color: #fff;padding: 8px 17px;font-size: 12px;position: absolute;right: 16px;bottom: 16px;cursor: pointer;}
.upload-doc-box span img{width: 16px;margin-right: 8px;}
.scroll-upload{max-height: 316px;overflow-y: auto;margin-right: -10px;padding-right: 10px;overflow-x: hidden;}
.scroll-upload::-webkit-scrollbar {width: 2px;}
.scroll-upload::-webkit-scrollbar-track {border-radius: 10px;}
.scroll-upload::-webkit-scrollbar-thumb {background: #C4C4C4;border-radius: 10px;}
.scroll-upload::-webkit-scrollbar-thumb:hover {background: transparent;}
.upload-doc-box img{width: 100%;height: 100%;object-fit: cover;}
.uploaddoc-popup .upload-progress{flex-direction: column;justify-content: center;}
.uploaddoc-popup .upload-progress .progress{overflow: visible;border-radius: 8px;width: 100%;margin: 0 0 24px;height: 6px;background: #DDDDDD;}
.uploaddoc-popup .upload-progress h5{font-weight: 500;font-size: 24px;line-height: 36px;text-align: center;color: rgba(0, 0, 0, 0.8);}
.uploaddoc-popup .upload-progress p{font-size: 14px;line-height: 21px;color: rgba(0, 0, 0, 0.56);padding: 0;border: none;}
.uploaddoc-popup .upload-progress .progress-bar{margin-top: -1px;border-radius: 8px;height: 8px;background-color: #19D097}
.uploaddoc-popup .progress-ratio{width: 100%;font-size: 10px;line-height: 15px;color: rgba(0, 0, 0, 0.32);margin: 24px 0 6px;}
.webcam{width: 100%;height: 100%;position: absolute;background: #000000;box-sizing: border-box;box-shadow: 0px 4px 8px rgba(9, 112, 221, 0.32);border-radius: 8px;}
.webcam video{width: 100%;height: 100%;}

.uploaddoc-popup  button.actionBtn {min-height: 80px;min-width: 100%;border-radius: 8px;margin: 0 0 10px;padding: 5px;font-size: 12px;}
.upload-doc-box h1{color: #FAB401;font-size: 27px;}
 .modal-footer a.disabled{opacity: 1;color: #B0BAC5;}
/*=========Custom Scroll===========*/

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}