@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{font-family: 'Poppins', sans-serif;color: rgba(0, 0, 0, 0.8);-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
header{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);}
h2{font-size: 24px}
h3{font-size: 20px}
.form-group label{font-size: 14px;line-height: 21px;color: #0970DD;display: block;margin: 0 0 8px;}
.form-control,input[type="text"], input[type="email"], input[type="phone"], input[type="number"], input[type="password"]{height: auto;border: 1px solid #DDDDDD;border-radius: 8px;padding: 16px;font-size: 16px;line-height: 22px;color: rgba(0, 0, 0, 0.32);}
.form-control::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.32);}
.form-control:-ms-input-placeholder {color: rgba(0, 0, 0, 0.32);}
.form-control::placeholder {color: rgba(0, 0, 0, 0.32);}
.btn.focus, .btn:focus{outline: none;box-shadow: none;}
a{transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
a:hover{text-decoration: none;}
.modal-lg {max-width: 960px;}
.modal-body{padding: 40px;background: #FFFFFF;box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);border-radius: 16px;}
.btn-custom{background: #0970DD;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);border-radius: 8px;font-weight: 500;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;color: #FFFFFF;}
.btn-custom:hover{color: #fff;background: #0961bd;}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dou5i7');
  src:  url('../fonts/icomoon.eot?dou5i7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dou5i7') format('truetype'),
    url('../fonts/icomoon.woff?dou5i7') format('woff'),
    url('../fonts/icomoon.svg?dou5i7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-red-arrow:before {content: "\e900"}
.icon-log-in:before {
  content: "\e903";
  color: #fff;
}
/*header*/
header .navbar{display: flex;justify-content: space-between;padding: 12px 0;}
.navbar .navbar-collapse{justify-content: center;}
.navbar .navbar-nav .nav-link{padding: 0 0 0 40px;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
.navbar .navbar-nav li:first-child .nav-link{padding: 0;}
.navbar .navbar-nav li.active .nav-link{font-weight: 600;color: #0970DD;}
.navbar .navbar-nav li:hover .nav-link{color: #0970DD;}
header .dropdown-toggle{padding: 0 8px 0 0;font-size: 16px;line-height: 24px;text-transform: capitalize;}
header .dropdown-toggle img{margin-right: 8px;}
header .dropdown-toggle::after{content: "\f107";font-family: fontawesome;border: none;color:#ddd;position: absolute;right:0;top: 4px;font-weight: 600;font-size: 18px;}
header .profile-img{width: 32px;height: 32px;border-radius: 50%;object-fit: cover;}

/*dashboard*/
.custom-datatable{margin-top: 32px;}
.custom-datatable .card{background: #FCFCFC;border: 1px solid #DDDDDD;border-radius: 8px;padding: 40px;}
.custom-datatable .card .card-header{padding: 0 0 15px;border-bottom: 1px solid #DDDDDD;}
.custom-datatable .card-header h4{margin: 0;font-weight: 500;font-size: 20px;line-height: 30px;letter-spacing: 1px;text-transform: capitalize;color: rgba(0, 0, 0, 0.8);}
.custom-datatable .ngx-datatable .datatable-body .datatable-row-wrapper{margin-bottom: 8px;border: 1px solid #DDDDDD;border-radius: 8px;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row,
.custom-datatable .ngx-datatable.bootstrap .datatable-header .datatable-header-cell,
.custom-datatable .table-card .ngx-datatable{border: none;}
.custom-datatable .ngx-datatable.bootstrap .datatable-header .datatable-header-cell span{font-weight: normal;font-size: 12px;line-height: 18px;text-transform: capitalize;color: #0970DD;}
.custom-datatable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{padding: 26px 18px 17px;}
.custom-datatable .user-img{margin-right: 8px;width: 32px;height: 32px;display: inline-block;border-radius: 50%;background: rgba(9, 112, 221, 0.16);}
.custom-datatable .user-img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell{font-size: 14px;line-height: 21px;text-transform: capitalize;color: rgba(0, 0, 0, 0.8);}
.custom-datatable .dummy-icon img{width: auto;height: auto;text-align: center;object-fit: contain;top: 17%;left: 50%;transform: translate(-50%);position: relative;}
.custom-datatable .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label{display: flex;align-items: center;}
.custom-datatable span.red-text,.custom-datatable span.green-text {font-weight: 500;font-size: 12px;line-height: 18px;text-align: right;letter-spacing: 1px;text-transform: capitalize;color: #DF0E40;}
.custom-datatable span.red-text img,.custom-datatable span.green-text img{margin-left: 8px;margin-top: -8px;}
.custom-datatable span.green-text{color: #19D097;}
.custom-datatable .card-header a {font-weight: 500;font-size: 16px;line-height: 24px;letter-spacing: 1px;text-transform: capitalize;color: #0970DD;}
.custom-datatable .card-header a i{font-size: 16px;font-weight: 600;margin-left: 5px;transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;}
.custom-datatable .card-header a:hover i{transform: translateX(5px);}
.custom-datatable span.red-text .icon-red-arrow, .custom-datatable span.green-text .icon-red-arrow{font-size: 10px;margin-left: 6px;}
.custom-datatable span.green-text .icon-red-arrow:before{color: #19D097;}
.datatable-icon-up:before{ content: "\e901";font-family: 'icomoon' !important}

.total-detail{margin-top: 32px;}
.total-detail .card{background: #FCFCFC;border: 1px solid #DDDDDD;border-radius: 8px;line-height: inherit;  transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;    -webkit-transition: all 0.3s ease-in-out;}
.total-detail .card:hover {box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.10);transform: translateY(-3px);-webkit-transform: translateY(-3px);-moz-transform: translateY(-3px);-ms-transform: translateY(-3px);-o-transform: translateY(-3px);}
.total-detail .card-body {padding: 24px;}
.total-detail .title{margin: 0 0 8px;color: rgba(0, 0, 0, 0.8);font-weight: 500;font-size: 24px;line-height: 36px;letter-spacing: 1px;text-transform: capitalize;}
.total-detail .media-body span{font-size: 12px;line-height: 18px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
.total-detail .media-right {background: rgba(9, 112, 221, 0.16);opacity: 0.56;border-radius: 24px;width: 80px;height: 80px;    display: flex;align-items: center;justify-content: center;}
.total-detail .green .media-right{background: rgba(25, 208, 151, 0.24);}
.total-detail .yellow .media-right{background: rgba(250, 180, 1, 0.32);}
.total-detail .red .media-right{background: rgba(223, 14, 64, 0.16);}
.total-detail .media img{margin: 0 !important;}


/*add user form*/
section.add-user {margin: 32px 0;}
section.add-user .container{max-width: 960px;background: #FCFCFC;border: 1px solid #DDDDDD;border-radius: 8px;padding: 40px;}
section.add-user .steps{font-weight: 500;font-size: 16px;line-height: 24px;color: #0970DD;display: inline-block;margin-bottom: 8px;}
.hdr{display: flex;align-items: center;justify-content: space-between;margin-bottom: 40px;}
.hdr-right{background: rgba(9, 112, 221, 0.16);width: 56px;height: 56px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
.hdr-right img{width: 20px;}
.line-title{font-size: 16px;line-height: 24px;position: relative;margin-bottom: 24px;}
.line-title span{font-weight: 400;padding-right: 15px;background: #fff;z-index: 9;position: relative;}
.line-title:before{content: "";background:#DDDDDD;width: 100%;height: 1px;position: absolute;left: 0;top: 12px;}
section.add-user .form-control{width: 100%;}
section.add-user .footer-btn {margin-top: 98px;border-top: 1px solid #DDDDDD;padding-top: 15px;display: flex;justify-content: space-between;}
section.add-user .footer-btn .btn{ padding: 0;color: #0970DD;text-transform: capitalize;font-weight: 500;font-size: 16px;line-height: 24px;font-weight: 500;letter-spacing: 1px;}
section.add-user .footer-btn .btn:disabled{color: #B0BAC5;opacity: 1;}

/*application*/
section.application {margin: 32px 0;}
section.application .nav-tabs{margin-left: 40px;border: none;}
section.application .nav-tabs .nav-link{padding: 15px 24px;font-size: 14px;line-height: 21px;letter-spacing: 1px;text-transform: capitalize;color: rgba(0, 0, 0, 0.56);}
section.application .tab-content{padding: 0;background: #FCFCFC;border: 1px solid #DDDDDD;box-sizing: border-box;border-radius: 8px;}
section.application .nav-tabs .nav-link.active{background: #0970DD;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);border-radius: 8px 8px 0px 0px;color: #fff;border: none;}
section.application .card-body{padding: 0;}
section.application h2{font-weight: 200;line-height: 36px;letter-spacing: 1px;text-transform: capitalize;}
section.application .header{padding: 40px;}
section.application .search input{min-width: 438px;padding: 15px;background: #FEFEFF;border: 1px solid #DDDDDD;border-radius: 8px;}


body #login{background: none;}
body .login-section:after{content: "";background: url(assets/img/shape.svg);width: 100%;height: 270px;display: block;background-size: cover;background-position: bottom}
body .login-section .bg-white {padding: 40px;background: #FFFFFF;border: 1px solid #DDDDDD;box-sizing: border-box;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);border-radius: 8px;margin: 24px 0 0;}
body .login-section h2.card-title{text-align: center;margin: 0 0 24px;font-weight: 200;font-size: 24px;line-height: 36px;text-transform: capitalize;color: #96AB13;}
.login-section .login-img a{display: block;text-align: center;}
.login-section .login-img a img{width: 253px;}
.login-section .card-body {padding: 60px 0 0;}
body .login-section .card{min-width: 560px;}
.login-section .form-group label{text-transform: none;font-weight: 400;}
form .form-group{position: relative;}
.login-section #toggle-password{position: absolute;right: 15px;top: 50px;}
.login-section .btn-custom{padding: 16px 40px;}
.login-section .form-group{ margin-bottom: 16px !important;}
.login-section  .login-btn{margin-top: 24px;}
.icon-log-in{margin-right: 15px;}
.login-btn {font-size: 14px;}



@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}