<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div>
        <a class="navbar-brand" href="/dashboard"><img src="assets/img/logo.svg" align="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/applications">applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard">settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admins">Admins</a>
          </li>
        </ul>
      </div>
      <div class="dropdown">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/1.jpg" alt="user pic" class="profile-img">
            <span>aditya desai</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">dark mode</a>
            <a class="dropdown-item" #btnElement (click)="onLogout(btnElement)">Logout</a>
          </div>
        </div>
    </nav>
  </div>
</header>
