<section id="paging" class="profile-sec">
    <div class="row">
        <div class="col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h4 class="text-bold-500"> Recent Alerts</h4>
<!--                    <h4 class="text-bold-500 datatable-row-center"> 2% Increase Since Last Weeks</h4>-->
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                                       [headerHeight]="50" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="70"
                                       [limit]="limitRow" [rows]="rows" [sorts]="[{prop: 'uname', dir: 'asc'}]">
                            <ngx-datatable-column name="User Name" [sortable]="true" prop="username">
                                <ng-template
                                        ngx-datatable-cell-template
                                        let-rowIndex="rowIndex"
                                        let-row="row"
                                >
                                     <a class="user-img dummy-icon">
                                        <img src="assets/img/user-ic.svg">
                                    </a>                                   
                                  <!--   <a class="user-img">                                          
                                        <img src="{{row.img}}"></a> -->
                                    <a>{{row.username}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Alert Message" [sortable]="true" prop="AlertMessage">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Step Name" [sortable]="true" prop="StepName">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Application Id" [sortable]="true" prop="ApplicationID">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Date of Alert" [sortable]="true" prop="DateofAlert">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Application Status" [sortable]="true" prop="status">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
