<div class="brdcum">
    <div class="container">
        <a href="javascript:void(0)" routerLink="/admins"><span class="icon-left-ar mr-2"></span>Back to Admins</a>
    </div>
</div>
<section class="add-user add-admin-user">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="container">
            <div class="add-box">
                <div class="hdr">
                    <div class="hdr-left">
                        <h2 class="mb-0">{{adminTitle}}</h2>
                    </div>

                    <div class="hdr-right d-flex">
                        <button class="btn btn-custom mr-3 mb-0" routerLink="/admins">cancel</button>
                        <button class="btn btn-custom mb-0">Save details<span class="icon-simple-check"></span></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter full name of the user" formControlName="username"
                                class="form-control">
                            <app-control-messages fieldName="Full Name" [control]="adminForm.controls['username']">
                            </app-control-messages>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" placeholder="Enter mobile number" formControlName="mobileNumber"
                                class="form-control">
                            <app-control-messages fieldName="Mobile Number"
                                [control]="adminForm.controls['mobileNumber']">
                            </app-control-messages>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>User Type</label>
                            <ngx-select [items]="userType" formControlName="userType" optionValueField="type"
                                optionTextField="label"></ngx-select>
                            <app-control-messages fieldName="User Type" [control]="adminForm.controls['userType']">
                            </app-control-messages>
                        </div>

                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="email" [attr.disabled]="editAdmin" placeholder="Enter email id"
                                formControlName="email" class="form-control">
                            <app-control-messages fieldName="Email" [control]="adminForm.controls['email']">
                            </app-control-messages>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="view-pic" *ngIf="!userProfileURL">
                           <img src="assets/img/admin-ic.svg">
                        </div>
                        <div class="view-pic" *ngIf="userProfileURL">
                           <img [src]="userProfileURL" class="userpic">
                        </div>
                        <ul class="pic-action">
                            <li><a href="javascript:void(0)"  (click)="removeImages()"><span class="icon-close"></span>remove image</a></li>
                            <li><button href="javascript:void(0)"><span class="icon-upload"></span>upload from computer<input type="file"  (change)="onFileSelect($event)" accept="image/x-png,image/jpeg" class="hide-file"></button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4" *ngIf="!editAdmin">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" placeholder="Enter Password" formControlName="password"
                                class="form-control">
                            <app-control-messages fieldName="Password" [control]="adminForm.controls['password']">
                            </app-control-messages>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" *ngIf="!editAdmin">
                            <label>Confirm Password</label>
                            <input type="password" placeholder="Enter Confirm Password"
                                formControlName="confirm_password" class="form-control">
                            <app-control-messages fieldName="Confirm Password"
                                [control]="adminForm.controls['confirm_password']">
                            </app-control-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
