<section id="forgot-password"  class="login-section">
   <div class="container-fluid">
      <div class="row text-left full-height-vh">
         <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card">
               <div class="card-body login-img">
                  <a href="/dashboard"><img src="assets/img/logo.svg" align="logo"></a>
                  <div class="row m-0">
                     <div class="col-md-12 bg-white">
                        <form [formGroup]="forgotPasswordForm" class="pt-4" (ngSubmit)="onSubmit()" >
                        <div class="form-group">
                           <input type="email" class="form-control" formControlName="email" name="inputEmail" id="inputEmail" placeholder="Your Email Address" >
                           <app-control-messages fieldName="Email" [control]="forgotPasswordForm.controls['email']">
                           </app-control-messages>
                        </div>                      
                        <div class="form-group d-flex justify-content-between login-btn">
                           <div class="float-right white">New User? <a href="javascrit:void(0)" (click)="onRegister()">Register Now</a></div>
                           <button class="btn btn-custom mb-0 d-flex align-items-center" type="submit">Submit</button>   
                        </div>
                        </form>                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Forgot Password Ends-->