<div class="brdcum">
   <div class="container">
      <a href="javascript:void(0)"><span class="icon-left-ar mr-2"></span>Back to Application Details</a>
   </div>
</div>
<section class="add-user admin-profile add-admin-user">
   <div class="container">
      <div class="add-box">
         <div class="hdr">
            <div class="hdr-left">
               <h2>Personal Information</h2>
               <span>last updated on : Jan 20 2020 - 02:60 PM</span>
            </div>
            <div class="hdr-right">
            	<button class="btn btn-custom"><span class="icon-edit mr-2"></span>Edit details</button>
            </div>
         </div>
       	
       	<div class="row admin-detail">
       		<div class="col-md-3">
       			<label>Name</label>
       			<h4>Aditya Desai</h4>
       			<label>Mobile Nmber</label>
       			<h4>+91 9876543210</h4>
       		</div>
       		<div class="col-md-3">
       			<label>Admin Id</label>
       			<h4>GPADMIN040041</h4>
       			<label>Email Id</label>
       			<h4>aditya.desai@getprosper.in</h4>
       		</div>
       		<div class="col-md-6 d-flex justify-content-end">
       			<div class="view-pic">
       				<img src="assets/img/1.jpg">
       			</div>	
       			<ul>
       				<li><a href="javascript:void(0)"><span class="icon-close"></span>remove image</a></li>
       				<li><a href="javascript:void(0)"><span class="icon-camera"></span>take a picture</a></li>
       				<li><a href="javascript:void(0)"><span class="icon-upload"></span>upload from computer<input type="file" name="" class="hide-file"></a></li>
       			</ul>
       		</div>
       	</div> 	

       	 <div class="hdr mt-4">
            <div class="hdr-left">
               <h2>Password Setting</h2>
               <span>last updated on : Jan 20 2020 - 02:60 PM</span>
            </div>
            <div class="hdr-right">            	
            </div>
         </div>

         <div class="row align-items-end">
         	<div class="col-md-4">
              <div class="form-group">
                 <label>new password</label>
                 <input type="text" placeholder="enter new password" class="form-control">
              </div>
           </div>
           <div class="col-md-4">
              <div class="form-group">
                 <label>confirm password</label>
                 <input type="text" placeholder="confirm new password" class="form-control">                         
              </div>
           </div>
           <div class="col-md-4">
           	<button class="btn btn-custom btn-pw">change password</button>
           </div>
       </div>

      </div>
   </div>
</section>