<div class="modal-header common-header"
  [ngClass]="{'redclr': objectOfModal?.type==='reject_reason','yellowclr': objectOfModal?.type!=='reject_reason'}">
  <div class="popup-header">
    <span>{{objectOfModal?.label}}</span>
    <h2 class="mb-0">{{objectOfModal?.title}}</h2>
  </div>
  <div class="popup-icon">
    <img *ngIf="objectOfModal?.type==='reject_reason'" src="../../../../assets/img/not-allow.svg">
    <img *ngIf="objectOfModal?.type!=='reject_reason'" src="../../../../assets/img/doc.svg">
  </div>
</div>
<div class="modal-boy">
  <form [formGroup]="reasonDetailsform">
    <!-- <ul class="list-of-reasons" *ngIf="listOfReasons?.length">
      <li *ngFor="let reasonItem of listOfReasons" formArrayName="accountArray">
        {{reasonItem?.username}} <input type="checkbox" name="">
      </li>
    </ul> -->
    <div *ngIf="listOfReasons?.length" class="reason-modal-popup">
      <div class="multiselect-list">
        <div class="type-list">
          <div class="custom-checkbox green-check" formArrayName="reasonsArray"
            *ngFor="let reason of listOfReasons;let i = index;">
            <div [formGroupName]="i">
              <input type="checkbox" id="logo{{i}}" value="{{ reason.id }}" formControlName="name"
                (change)="selectReason($event)">
              <label>
                {{ reason?.reason }}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group rsn-txt">
                <label class="mt-1" *ngIf="objectOfModal?.type==='reject_reason'">Reason
                  Not
                  Listed?</label>
                <label class="mt-1" *ngIf="objectOfModal?.type!=='reject_reason'">Document Not
                  Listed?</label>
                <input type="text" placeholder="Some Custom Text Entered By User..." class="form-control"
                  formControlName="reason">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-between">
  <a class="btn modal-btn-continue" (click)="decline()">
    Cancel
  </a>
  <a class="btn"
    [ngClass]="{'modal-cancel': objectOfModal?.type==='reject_reason','modal-btn-continue': objectOfModal?.type!=='reject_reason'}"
    (click)="accept()">{{objectOfModal?.button_name}}</a>
</div>