<section class="application admin-list">
   <div class="container">
      <!-- Nav tabs -->
      <!-- Tab panes -->
      <div id="content" class="tab-content" role="tablist">
         <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="card-header" role="tab" id="heading-A">
            </div>

            <!-- Note: New place of `data-parent` -->
            <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel"
               aria-labelledby="heading-A">
               <div class="card-body">
                  <div class="custom-datatable mt-0">
                     <div class="header row d-flex justify-content-between">
                        <div class="col-md-4 d-flex align-items-center ">
                           <h2 class="mb-0">Total Admin users (5)</h2>
                        </div>
                        <div class="col-md-8 d-flex align-items-center justify-content-end">
                           <div class="search"><input type="search" name="" (keyup)='updateFilter($event)'
                                 placeholder="search by Admin user name or email or phone number"
                                 class="form-control"><button class="btn-search"><span
                                    class="icon-search"></span></button></div>
                           <div><button class="btn btn-custom mb-0" routerLink="/admins/add-admin">Add New
                                 Admin <span class="icon-plus"></span></button></div>
                        </div>
                     </div>
                     <div class="tble">
                        <ngx-datatable class="bootstrap checkbox-table" [loadingIndicator]="loadingIndicator"
                           [columnMode]="'force'" [headerHeight]="30" [scrollbarH]="true" [footerHeight]="50"
                           [rowHeight]="70" [limit]="limitRow" [rows]="rows" [sorts]="[{prop: 'uname', dir: 'asc'}]"
                           [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                           (select)='onSelect($event)'>
                           <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                              [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true"
                              prop="selected">
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="50" name="user name" [sortable]="true" prop="username">
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                 <a class="user-img dummy-icon" *ngIf="!row.userProfile_url">
                                    <img src="assets/img/user-ic.svg">
                                 </a>
                                 <a class="user-img" *ngIf="row.userProfile_url">
                                    <img src="{{row.userProfile_url}}">
                                 </a>
                                 <a data-tooltip title="{{row.username}}">{{row.username}}</a>
                              </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="100" name="Email" [sortable]="true" prop="email">
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="80" name="Mobile Number" [sortable]="true"
                              prop="mobileNumber">
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="80" name="Account type" [sortable]="true" prop="status">
                              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                 <span
                                    [ngClass]="{'super-admin-class': row.userType==='1'}">{{row.userType | userType}}</span>
                              </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column [width]="20" name="Actions" [sortable]="false" prop="id">
                              <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
                                 <span>
                                    <button (click)="onEdit(value)" class="success mr-2 btn-action">
                                       <i class="ft-edit-2 font-medium-3"></i>
                                    </button>
                                    <button (click)="onDelete(value)" class="danger btn-action">
                                       <i class="ft-trash font-medium-3"></i>
                                    </button>
                                 </span>
                              </ng-template>
                           </ngx-datatable-column>
                        </ngx-datatable>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<div *ngIf="deleteFlag" class="fixed-status">
   <label class="mb-0">Applications selected : <strong>{{adminsSelectCount}}</strong></label>
   <ul>
      <li (click)="deleteAdmins()"><img src="assets/img/trash.svg"><span>Delete selected</span></li>
      <li (click)="cancelAll()" class="cancel"><img src="assets/img/not-allow.svg"><span>Cancel all</span></li>
   </ul>
</div>