<section class="application">
   <div class="container">
      <!-- Nav tabs -->
      <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">all (2,242)</a>
        </li>
        <li class="nav-item">
            <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">new applications (58)</a>
        </li>
        <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">under reveiw (12)</a>
        </li>
         <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">approved (2,064)</a>
        </li>
        <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">rejected (102)</a>
        </li>
        <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">reported (6)</a>
        </li>        
    </ul>
      <!-- Tab panes -->
       <div id="content" class="tab-content" role="tablist">
        <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="card-header" role="tab" id="heading-A">
                <h5 class="mb-0">
                    <!-- Note: `data-parent` removed from here -->
                    <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                        Collapsible Group Item A
                    </a>
                </h5>
            </div>

            <!-- Note: New place of `data-parent` -->
            <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                <div class="card-body">
                     <div class="custom-datatable mt-0">
                           <div class="header row d-flex justify-content-between">
                              <div class="col-md-4">
                                   <h2>all applications (2,242)</h2>
                                   <span class="green-text">2% increase since last week<span class="icon-red-arrow"></span>
                                </span>
                              </div>
                              <div class="col-md-8 d-flex align-items-center justify-content-end">
                                 <div class="search"><input type="search" name="" placeholder="search by application id or user name" class="form-control"><button class="btn-search"><span class="icon-search"></span></button></div>
                                  <div class="filter">Filter search<span class="icon-filter"></span></div>
                              </div>
                           </div>
                           <div class="tble">
                           <ngx-datatable class="bootstrap" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                           [headerHeight]="50" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="70"
                           [limit]="limitRow" [rows]="rows" [sorts]="[{prop: 'uname', dir: 'asc'}]">
                           <ngx-datatable-column
                            [width]="100"
                            name="user name" [sortable]="true" prop="firstname">
                              <ng-template
                                 ngx-datatable-cell-template
                                 let-rowIndex="rowIndex"
                                 let-row="row"
                                 >
                                 <a class="user-img dummy-icon"><img src="assets/img/user-ic.svg"></a>
                                 <a data-tooltip title="{{row.firstname}}">{{row.firstname}}</a>
                              </ng-template>
                           </ngx-datatable-column>
                           <ngx-datatable-column  [width]="80" name="application Id" [sortable]="true" prop="lastname">
                           </ngx-datatable-column>
                           <ngx-datatable-column  [width]="80" name="last activity" [sortable]="true" prop="email">
                           </ngx-datatable-column>
                           <ngx-datatable-column  [width]="80" name="Account type" [sortable]="true" prop="status">
                           </ngx-datatable-column>
                           <ngx-datatable-column  [width]="20" name="application status" [sortable]="false" prop="id" >
                              <ng-template let-row="data"  let-value="value" ngx-datatable-cell-template >
                                 <span>
                                <!--  <button (click)="onEdit(value)" class="btn"><img src="../assets/img/trash.svg" class="btn"></button> -->
                                 <button #btnElement (click)="onDelete(btnElement,value)"  class="btn"><img src="../assets/img/trash.svg"></button>
                                 </span>
                              <div class="hover-error"><img src="assets/img/error.svg"></div>
                              <i class="fa fa-angle-right arrow"></i>

                              </ng-template>
                           </ngx-datatable-column>
                           </ngx-datatable>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
            <div class="card-header" role="tab" id="heading-B">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                        Collapsible Group Item B
                    </a>
                </h5>
            </div>
            <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                <div class="card-body">
                    [Tab content B]
                </div>
            </div>
        </div>

        <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
            <div class="card-header" role="tab" id="heading-C">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
                        Collapsible Group Item C
                    </a>
                </h5>
            </div>
            <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                <div class="card-body">
                    [Tab content C]
                </div>
            </div>
        </div>
    </div>
   </div>
</section>
<div class="fixed-status">
   <label>Applications selected : <strong>2</strong></label>
   <ul>
      <li><img src="assets/img/trash.svg">Applications selected : 2</li>
      <li><img src="assets/img/alert-circle.svg">report all</li>
      <li><img src="assets/img/not-allow.svg">reject all</li>
      <li><img src="assets/img/check-circle.svg">Approve all</li>
   </ul>
 </div>

