<section class="application">
    <div class="container">
        <!-- Nav tabs -->
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">all ({{count}})</a>
            </li>
            <li class="nav-item">
                <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">new applications (58)</a>
            </li>
            <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">under reveiw (12)</a>
            </li>
            <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">approved (2,064)</a>
            </li>
            <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">rejected (102)</a>
            </li>
            <!-- <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">reported (6)</a>
            </li> -->
            <li class="nav-item">
                <a href="https://devsite.getprosper.in/" class="nav-link app-link" target="_blank">Create new
                    application</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                <div class="card-header" role="tab" id="heading-A">
                    <h5 class="mb-0">
                        <!-- Note: `data-parent` removed from here -->
                        <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                            Collapsible Group Item A
                        </a>
                    </h5>
                </div>

                <!-- Note: New place of `data-parent` -->
                <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel"
                    aria-labelledby="heading-A">
                    <div class="card-body">
                        <div class="custom-datatable mt-0">
                            <div class="header row d-flex justify-content-between">
                                <div class="col-md-4">
                                    <h2>all applications ({{count}})</h2>
                                    <span class="green-text">2% increase since last week<span
                                            class="icon-red-arrow"></span>
                                    </span>
                                </div>
                                <div class="col-md-8 d-flex align-items-center justify-content-end">
                                    <div class="search">
                                        <input type="search" #searchBytype name="searchbytype"
                                            placeholder="search by user name or email or mobilenumber"
                                            class="form-control" (keyup)='resetFilter($event)'>
                                        <button (click)='updateFilter($event)' class="btn-search"><span
                                                class="icon-search"></span></button>
                                    </div>
                                    <div class="filter">Filter search<span class="icon-filter"></span></div>
                                </div>
                            </div>
                            <div class="tble">
                                <ngx-datatable class="bootstrap checkbox-table" [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'" [headerHeight]="50" [scrollbarH]="true" [footerHeight]="50"
                                    [rowHeight]="80" [limit]="limitRow" [rows]="rows"
                                    [sorts]="[{prop: 'uname', dir: 'asc'}]" [selected]="selected"
                                    [selectionType]="'checkbox'" [selectAllRowsOnPage]="true"
                                    (select)='onSelect($event)'>

                                    <ngx-datatable-column [width]="10" [sortable]="false" [canAutoResize]="false"
                                        [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                        [checkboxable]="true" [sortable]="true" prop="selected">
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="10" name="user name" [sortable]="true"
                                        prop="userName">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <a title="{{row.userName}}" [routerLink]="['/applications/details',row.id]"
                                                routerLinkActive="router-link-active" class="uname">{{row.userName}}</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="60" name="application Id" [sortable]="true"
                                        prop="id">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            {{row.id | uppercase}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="40" name="Email" [sortable]="true" prop="email">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="40" name="Mobile Number" [sortable]="true"
                                        prop="mobileNumber">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="20" name="application status" [sortable]="false"
                                        prop="isDocumentUploaded">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <span class="green-color-text" *ngIf="row.isDocumentUploaded ">
                                                Completed
                                            </span>
                                            <span class="light-color-text" *ngIf="!row.isDocumentUploaded">
                                                Incompleted
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                <div class="card-header" role="tab" id="heading-B">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false"
                            aria-controls="collapse-B">
                            Collapsible Group Item B
                        </a>
                    </h5>
                </div>
                <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel"
                    aria-labelledby="heading-B">
                    <div class="card-body">
                        <div class="coming-soon">
                            <img src="assets/img/soon.svg">
                            <h2>Coming Soon</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                <div class="card-header" role="tab" id="heading-C">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false"
                            aria-controls="collapse-C">
                            Collapsible Group Item C
                        </a>
                    </h5>
                </div>
                <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content"
                    aria-labelledby="heading-C">
                    <div class="card-body">
                        <div class="coming-soon">
                            <img src="assets/img/soon.svg">
                            <h2>Coming Soon</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="deleteFlag" class="fixed-status">
    <label class="mb-0">Applications selected : <strong>{{usersSelectCount}}</strong></label>
    <ul>
        <li (click)="deleteUsers()" class="delete"><img src="assets/img/trash.svg">Delete All</li>
        <li (click)="cancelAll()" class="reject"><img src="assets/img/not-allow.svg">Reject all</li>
        <li class="approved"><img src="assets/img/check-circle.svg">Approve all</li>
    </ul>
</div>
<!--
<div *ngIf="deleteFlag" class="fixed-status">
    <label class="mb-0">Applications selected : <strong>{{usersSelectCount}}</strong></label>
    <ul>
       <li (click)="deleteAdmins()"><img src="assets/img/trash.svg"><span>Delete selected</span></li>
       <li (click)="cancelAll()"><img src="assets/img/not-allow.svg"><span>Cancel all</span></li>
    </ul>
 </div> -->