<section class="add-user admin-profile mt-5">
    <div class="container custom-tabs">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-A" routerLink="/settings" class="nav-link tab-a" data-toggle="tab" role="tab"
                    [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Application
                    preferences</a>
            </li>
            <li class="nav-item">
                <a id="tab-B" routerLink="account-settings" class="nav-link tab-b" data-toggle="tab" role="tab"
                    [routerLinkActive]="['active']">
                    Account settings
                </a>
            </li>
            <!-- <li class="nav-item">
                    <a id="tab-D" routerLink="segments-settings" class="nav-link tab-d" data-toggle="tab" role="tab" [routerLinkActive]="['active']">
                        Segments Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a id="tab-E" routerLink="brokerage-plans" class="nav-link tab-e" data-toggle="tab" role="tab" [routerLinkActive]="['active']">
                        Brokerage Plans
                    </a>
                </li>
                <li class="nav-item">
                    <a id="tab-F" routerLink="brokerage-codes" class="nav-link tab-e" data-toggle="tab" role="tab" [routerLinkActive]="['active']">
                        Brokerage Codes
                    </a>
                </li> -->
        </ul>
        <div id="content" class="tab-content" role="tablist">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>